<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<head style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<!-- If you delete this meta tag, Half Life 3 will never be released. --><meta name="viewport" content="width=device-width" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
</head>
<body bgcolor="#FFFFFF" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%!important;height:100%;'>
 
<!-- HEADER -->
<table class="head-wrap" bgcolor="#DFF5FF" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;width:100%;padding-top:15px;padding-bottom:15px;border-bottom:1px solid #DDDDDD;'><tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'></td>
		<td class="header container" style='margin:0 auto!important;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block!important;max-width:600px!important;clear:both!important;'>
 
				<div class="content" style='margin:0 auto;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:600px;display:block;padding-left:10px;'>
				<table bgcolor="#DFF5FF" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;width:100%;'><tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'><img src="https://beta.wurkhappy.com/static/images/email_logo.png" title="Wurk Happy Logo" alt="Wurk Happy Logo" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:100%;'></td>
					</tr></table>
</div>
 
		</td>
		<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'></td>
	</tr></table>
<!-- /HEADER -->
	
	{% block body %}
	{% end %}
	
	<!--FOOTER-->
<table class="footer-wrap" bgcolor="#DFF5FF" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size:12px;line-height:14px;width:100%;padding-top:10px;padding-bottom:10px;color:#666666;clear:both!important;border-top:1px solid #DDDDDD;'><tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
	<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'></td>
			<td class="container" style='margin:0 auto!important;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block!important;max-width:600px!important;clear:both!important;'>

					<div class="content" style='margin:0 auto;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:600px;display:block;'>
					<table bgcolor="#DFF5FF" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;width:100%;'><tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
	<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
								<p style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding-left:10px;'>Powered by <a href="http://www.wurkhappy.com" style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;color:#0099DD;text-decoration:none;font-weight:bold;'>Wurk Happy</a> — simple agreement, billing, and payment software for freelancers and the clients they love.</p>
							</td>
						</tr></table>
	</div>

			</td>
			<td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'></td>
		</tr></table>
	<!--END FOOTER-->
	</body>
	</html>