{% extends "email_base.html" %}

{% block body %}

	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">Dear Wurk Happy User,</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">Thank you for your interest in Wurk Happy! We enable freelancers and their clients to negotiate contracts, manage the working relationship and get paid, all in one easy place.</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">To get started with your account, please verify your email address by following the link below.</p>
	
	<h2 style="font-weight: bold; font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;"><a href="{{ data['url'] }}" style="text-decoration: none; color: #0099DD;">Click Here to Get Started</a></h2>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">If you have questions or comments, you can reach us at <a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a>.</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;">Sincerely,<br />The Wurk Happy Team<br /></p>

{% end %}