{% extends "email_base.html" %}

{% block body %}

	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">Hello from Wurk Happy!</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">I'm Marcus, and I'm one of the founders of Wurk Happy. Thanks for your
	interest in our private beta!</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">Our platform simplifies agreement negotiation, billing, and payment
	for freelancers and their clients. I have first-hand experience with the challenges freelancers face in order to do
	their jobs, and we are working hard to create a painless experience for freelancers and their clients to conduct
	business.</p>

	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">As I said, we are currently in private beta, but you're now on our
	waiting list and we'll contact you when we're ready for you to join.</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">If you have questions or comments, you can reach me at <a
	href="mailto:marcus@wurkhappy.com">marcus@wurkhappy.com</a>.</p>
	
	<p style="font-size: 16px; line-height: 24px; margin: 0; padding: 20px 10px 0 10px; color: #666666; font-family:
	'Helvetica Neue', Arial, Helvetica, sans-serif;">Thanks again,<br />Marcus<br /></p>

{% end %}
