{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'], "preFill": {}, 'agreementID': data['id'] } %}

{% if 'currentPhase' in data %}
	{% set slug['currentPhase'] = data['currentPhase'] %}
{% end %}

{% if 'account' in data and data['account'] %}
	{% set slug['account'] = data['account'] %}
{% end %}

{% module Slug(slug) %}


<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		{% set otherUser = data[data['other']] %}

		<div id="agreement-profile" class="data-table">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="meta">
						<span><img src="{% raw otherUser['profileURL'][0] %}" width="50"></span>
					</td>
					<td>
						<h3><a href="/user/{{ otherUser['id'] }}">{{ otherUser['fullName'] }}</a></h3>
						<p>{{ otherUser['email'] }} {% if otherUser['telephone'] %} &mdash; {{ otherUser['telephone'] }}{% end %}</p>
					</td>
				</tr>
			</table>
		</div>

		<div id="payment-schedule" class="clear">
			<h2>Payment Schedule for {{ data['amount'] }}</h2>
			<ul>
				{% set ordinals = {
						1: 'First',
						2: 'Second',
						3: 'Third',
						4: 'Fourth'
				} %}
				{% for num, phase in enumerate(data['phases'], 1) %}
					<li>
						{# comment TODO: This smells. Move some of this logic into the controller. #}
						{% if phase['dateVerified'] %}
							<span>Paid {{ phase['dateVerified'].strftime('%B %d, %Y').replace(' 0', ' ') }}</span>
						{% elif phase['dateCompleted'] and (not phase['dateContested'] or (phase['dateContested'] and phase['dateContested'] < phase['dateCompleted'])) %}
							<span>Completed {{ phase['dateCompleted'].strftime('%B %d, %Y').replace(' 0', ' ') }}</span>
						{% end %}
						<strong>{{ phase['amount'] }}</strong> &mdash; {{ ordinals[num] }} Payment{% if phase['estDateCompleted'] %} on {{ phase['estDateCompleted'].strftime('%B %d, %Y').replace(' 0', ' ') }}{% end %}
					</li>
				{% end %}
			</ul>
		</div>

		<form id="comments-form" class="invisible">

		<div class="column-three-fourth">
			<h2>Overview</h2>
			{% if data['summary'] %}
				<p>{% raw escape(data['summary']).replace('\n', '<br />') %}</p>
			{% else %}
				<p>&mdash;</p>
			{% end %}
			
			{% if data['self'] == 'client' and data['state'] == 'EstimateState' %}
				<div class="add notes toggle">
					<p class="no-select">Add comments and feedback on the agreement here.</p>
					<textarea name="summaryComments" {% if not data['summaryComments'] %}class="hidden" {% end %}rows="5" cols="80" placeholder="Add comments and feedback on the agreement here. You can also comment on specific phases below.">{{ data['summaryComments'] }}</textarea>
				</div>
			{% elif data['state'] == 'DeclinedState' and data['summaryComments'] %}
				<div class="notes">
				  <p>{% raw escape(data['summaryComments']).replace('\n', '<br/>') %}</p>
				</div>
			{% end %}
		</div>

		<!-- Listing of agreement's phases -->

		{% set ordinals = {
				1: 'First',
				2: 'Second',
				3: 'Third',
				4: 'Fourth'
		} %}
		{% for num, phase in enumerate(data['phases'], 1) %}
			<div class="clear column-three-fourth">
				<h2 class="steps">
					{{ ordinals[num] }} payment ({{ phase['amount'] }})
					{% if phase['dateVerified'] %}
						<span style="color: green">Paid {{ phase['dateVerified'].strftime('%B %d, %Y').replace(' 0', ' ') }}</span>
					{% elif phase['dateCompleted'] and (not phase['dateContested'] or (phase['dateContested'] and phase['dateContested'] < phase['dateCompleted'])) %}
						<span style="color: green">Completed {{ phase['dateCompleted'].strftime('%B %d, %Y').replace(' 0', ' ') }}</span>
					{% elif phase['estDateCompleted'] %}
						<span>Estimated completion on {{ phase['estDateCompleted'].strftime('%B %d, %Y').replace(' 0', ' ') }}</span>
					{% end %}
				</h2>

				<p>{% raw escape(phase['description']).replace('\n', '<br />') %}</p>

				{% if data['self'] == 'client' and (data['state'] == 'EstimateState' or (data['state'] == 'CompletedState' and 'isCurrent' in phase)) %}
					<div class="add notes toggle">
						<p class="no-select">Add comments and feedback on the agreement here.</p>
						<textarea name="phaseComments" {% if not phase.get('comments') %}class="hidden" {% end %}rows="5" cols="80" placeholder="Add comments and feedback for Phase {{ str(num) }} here.">{{ phase.get('comments') or '' }}</textarea>
					</div>
				{% elif 'comments' in phase and data['state'] in ['DeclinedState', 'ContestedState'] %}
					<div class="notes">
						<p>{% raw escape(phase['comments']).replace('\n', '<br/>') %}</p>
					</div>
				{% end %}
			</div>
		{% end %}

		<div id="agreement-history" class="clear">
			<h2>Agreement History</h2>
			<ul>
				{% for transaction in data['transactions'] %}
					{% block transactionitem %}
					{% end %}
				{% end %}
			</ul>
		</div>

		</form>
	</div>

	{% module Footer() %}
</div>

	{% if data.get('vendorPaymentMethod', None) and data['vendorPaymentMethod'].canReceivePayment() %}
	<!-- TODO: Check type of payment method to selectively render the proper button -->
	<div class="clear prompt-box" id="confirmation-div" style="display:none;">
		{% if data['vendorPaymentMethod'].__class__.__name__ == 'AmazonPaymentMethod' %}
			<div class="column-three-fourth">
				<h3>A payment of <span id="verify-amount">$0.00</span> is required to settle this phase of the agreement.</h3>
				<p>You can pay quickly and securely with Amazon Payments.</p>
			</div>
			<div class="column-one-fourth">
				{% module PayWithAmazonButton(data['currentPhase']['phaseID']) %}
			</div>
		{% elif data['vendorPaymentMethod'].__class__.__name__ == 'ZipmarkPaymentMethod' %}
			<div class="column-three-fourth">
				<h3>A payment of <span id="verify-amount">$0.00</span> is required to settle this phase of the agreement.</h3>
				<p>You can pay quickly and securely with Zipmark Digital Check.</p>
			</div>
			<div class="column-one-fourth">
				{% module PayWithZipmarkButton(data['currentPhase']['phaseID']) %}
			</div>
		{% end %}
	</div>
	{% else %}
		<div class="clear prompt-box" id="confirmation-div" style="display:none;">
			<div class="column-three-fourth">
				<h3>The recipient of this payment does not have a valid Amazon Payments account.</h3>
				<p>We have reminded the recipient to complete the steps to configure an Amazon Payments account
					and will notify you when the recipient is able to receive funds.</p>
			</div>
		</div>
	{% end %}

	{% if not data.get('amazonAccountConfirmed', False) %}
	<div class="clear prompt-box" id="configure-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>Please configure your Amazon Payments account to receive payments.</h3>
			<p>Wurk Happy uses Amazon Payments to facilitate transactions between you and your clients. In order to receive
				payments, please click the &ldquo;Accept Marketplace Fee&rdquo; button to the right in order to accept the
				Amazon Terms and Conditions and create your Amazon Payments Business account.</p>
			<p>You can read more about why we use Amazon Payments <a href="/help/faqs/amazonpayments">here</a>.</p>
		</div>
		<div class="column-one-fourth">
			{% module AcceptMarketplaceFeeButton(data['vendor']['id']) %}
		</div>
	</div>
	
	<div class="clear prompt-box" id="verify-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>Please complete the Amazon Payments verification process.</h3>
			<p>After signing up for Amazon Payments, you should receive an email from Amazon asking you to verify
				your account. Typically this email asks you to connect a bank account and complete a tax questionnaire.
				Please complete any of these steps on the Amazon Payments web site and click "Verify Account" when
				you've finished.</p>
		</div>
		<div class="column-one-fourth">
			<ul class="action-button">
				<li><a href="#" rel="nofollow" id="amazon_verify" class="top js-button">Verify Account</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clear prompt-box" id="success-div" style="display:none;">
		<div class="column-three-fourth">
			<h3><span style="font-size: 30px; margin-right: 10px;"><a href="#" class="js-close-btn" style="color:#EEE; text-shadow: 1px 1px #333">&#x2297;</a></span>Amazon Marketplace Account</h3>
			<p>Your Amazon Marketplace Account has been successfully connected and verified with Amazon. You are ready to start receiving payments through Wurk Happy!</p>
		</div>
	</div>
	{% end %}

	<div class="clear prompt-box" id="password-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>We need to make sure it&rsquo;s really you.</h3>
			<hr />
			<p>Please enter your password to <span id="action-name">continue</span>.</p>
			<form action="/login.json" method="POST" accept-charset="utf-8" id="password-form">
				<input type="password" name="password" />
				<input type="hidden" name="user_id" value="{{ data[data['self']]['id'] }}" />
			</form>
		</div>
		<div class="column-one-fourth">
			<ul class="action-button">
				<li><a href="#" id="password-submit" class="top js-button">Sign In</a></li>
			</ul>
		</div>
	</div>

{% end %}



### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}



{% block header %}
	<div id="intro" class="clear">

		<div class="column-three-fourth">

			<h1>{{ data['name'] }}</h1>
			<p>{% if len(data['transactions']) %}
				{% set transaction = data['transactions'][-1] %}
				<span>Latest Activity:</span> {{ transaction['type'] }} {{ data[transaction['user']]['fullName'] }} on {{ transaction['date'] }}
			{% else %}
				<span>This draft has not been sent.</span>
			{% end %}
			</p>

		</div>
		<div class="column-one-fourth">

			<ul class="action-button">
			{% for (id, label) in data['actions'] %}
				<li><a href="#" id="{{ id }}" class="top js-button cookie-authenticated">{{ label }}</a></li>
			{% end %}
			</ul>

		</div>

	</div>
{% end %}

{% block scripts-custom %}
	<script src="{{ static_url("scripts/libs/jquery-autosuggest-1.4.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/agreements.js") }}" type="text/javascript"></script>
	
{% end %}



{% block transactionitem %}
				<li>{{ transaction['type'] }} <a href="/user/{{ data[transaction['user']]['id'] }}">{{ data[transaction['user']]['fullName'] }}</a> on {{ transaction['date'] }}</li>
{% end %}
