{% extends "../base.html" %}

### Redefine the main block

{% block main %}

{% if 'bag' in globals() and bag != None %}
	{% set agr_id = bag['id'] %}
	{% set agr_title = bag['name'] %}
	{% set agr_cost = bag['amount'] %}
	{% set agr_client = bag['client']['name'] %}
	
	{% if 'text' in bag and 'agreement' in bag['text'] %}
		{% set agr_details = bag['text']['agreement'] %}
	{% else %}
		{% set agr_details = '' %}
	{% end %}
	
	{% if 'text' in bag and 'refund' in bag['text'] %}
		{% set agr_refund = bag['text']['refund'] %}
	{% else %}
		{% set agr_refund = '' %}
	{% end %}
{% else %}
	{% set agr_id = '' %}
	{% set agr_client = '' %}
	{% set agr_title = '' %}
	{% set agr_cost = '' %}
	{% set agr_details = '' %}
	{% set agr_refund = '' %}
{% end %}

<div class="container">
	{% block navigation %}
	{% end %}
	
	{% block header %}
	{% end %}
	
	<div id="content" class="clear">
		<form action="/agreement/{% if agr_id %}{{ agr_id }}{% else %}new{% end %}" method="POST" accept-charset="utf-8">
			{% raw xsrf_form_html() %}
			<fieldset>
				<h2>Recipient</h2>
				<label for="">Email Address or Name of Existing Contact</label>
				<input type="text" name="email" size="100" id="client-suggest" />
				{% if not agr_id %}
					<label for="">Personal Message in Notification Email (optional)</label>
					<textarea name="name" rows="3" cols="100"></textarea>
				{% end %}
			</fieldset>
			<fieldset>
				<h2>Estimate</h2>
				<label for="">Title</label>
				<input type="text" name="title" value="{{ agr_title }}" size="100" />
				<label for="">Date of Issue</label>
				{% raw date_html %}
				<!-- -->
				<h2>Phase One</h2>
				<label for="">Deposit</label>
				<input type="text" name="cost" value="{{ agr_cost }}" size="100" />
				<label for="">Estimated Date of Completion</label>
				{% raw date_html %}
				<label for="">Describe timeframe, services performed, and deliverables for phase one.</label>
				<textarea name="details" rows="5" cols="100">{{ escape(agr_details) }}</textarea>
				<!-- -->
				<h2>Phase Two</h2>
				<label for="">Amount Due on Completion</label>
				<input type="text" name="cost" value="{{ agr_cost }}" size="100" />
				<label for="">Estimated Date of Completion</label>
				{% raw date_html %}
				<label for="">Describe timeframe, services performed, and deliverables for phase two.</label>
				<textarea name="details" rows="5" cols="100">{{ escape(agr_details) }}</textarea>
				<!-- -->
				<h2>Phase Three</h2>
				<label for="">Amount Due on Completion</label>
				<input type="text" name="cost" value="{{ agr_cost }}" size="100" />
				<label for="">Estimated Date of Completion</label>
				{% raw date_html %}
				<label for="">Describe timeframe, services performed, and deliverables for phase three.</label>
				<textarea name="details" rows="5" cols="100">{{ escape(agr_details) }}</textarea>
				<!-- -->
				<h2>Phase Four</h2>
				<label for="">Amount Due on completion</label>
				<input type="text" name="cost" value="{{ agr_cost }}" size="100" />
				<label for="">Estimated Date of Completion</label>
				{% raw date_html %}
				<label for="">Describe timeframe, services performed, and deliverables for phase four.</label>
				<textarea name="details" rows="5" cols="100">{{ escape(agr_details) }}</textarea>
			</fieldset>
			<fieldset class="submit-buttons">
				<input type="submit" id="confirm-edit-button" value="Save Changes &amp; Resend Client Agreement" />
			</fieldset>
		</form>
	</div>
	
	{% block footer %}
	{% end %}
</div>

{% end %}



### Overridden blocks

{% block styles-custom %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/autosuggest.css") }}" media="screen" />
{% end %}



{% block scripts-custom %}
	<!-- http://code.drewwilson.com/entry/autosuggest-jquery-plugin -->
	<script src="{{ static_url("scripts/libs/jquery-autosuggest-1.3.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/application.js") }}" type="text/javascript"></script>
{% end %}



### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">

		<div class="column-one-half">

			<ul class="clear">
				<li{% if agreement_with == 'Client' %} class="current"{% end %}><a href="/agreements/with/clients"><strong>Client Agreements</strong></a></li>
				<li{% if agreement_with == 'Vendor' %} class="current"{% end %}><a href="/agreements/with/vendors"><strong>Vendor Agreements</strong></a></li>
				<li><a href="/people"><strong>People</strong></a></li>
			</ul>

		</div>

		<div class="column-one-half">

			<ul id="admin" class="clear">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/admin/account">Account</a></li>
				<li><a href="/admin/preferences">Preferences</a></li>
			</ul>

		</div>

	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
	
		<div class="column-three-fourth">
		
			{% if not agr_id %}
				<h1>New Estimate</h1>
			{% else %}
				<h1>Edit Client Agreement</h1>
			{% end %}
		
		</div>
	
		<div class="column-one-fourth">
		
			<div class="action-button">
				<a href="/agreement/{{ agr_id }}" class="single cancel">Cancel Changes</a>
			</div>
		
		</div>
	
	</div>
{% end %}



{% block footer %}
	<div id="footer" class="clear">

		<div class="column-one-fourth">

			<h3>Archives</h3>

			<ul>
				<li><a href="">All Client Agreements</a></li>
				<li><a href="">All Vendor Agreements</a></li>
				<li><a href="">All People</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 2</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 3</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 4</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

	</div>


	<div id="copyright" class="clear">

		<p>Powered by Wurk Happy &bull; Copyright &#169; Wurk Happy. All rights reserved.</p>

	</div>
{% end %}
