{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'], "autosuggestCapture": "clientID", 'agreementID': data['id'] } %}

{% if data['self'] == 'vendor' and data['client'] %}
	{% set slug['preFill'] = [{"fullName": data['client']['fullName'], "id": data['client']['id']}] %}
{% else %}
	{% set slug['preFill'] = {} %}
{% end %}

{% module Slug(slug) %}


<div class="container">
	{% module Navigation(data) %}

	{% block header %}
	{% end %}
	
	{% if 'request' in data %}
	<div id="content" class="clear" style="background: #EEE; border-bottom: 1px solid #DDD; border-top: 1px solid #FFF">
		<h3>Personal Request from {{ data['client']['fullName'] }}</h3>
		<p>{% raw escape(data['request']['message']).replace('\n', '<br/>') %}</p>
	</div>
	{% end %}
	
	<div id="content" class="clear">
		<form action="/agreement{% if data['id'] %}/{{ data['id'] }}{% end %}" method="POST" accept-charset="utf-8" class="js-replace-action agreements" id="agreement-form">
			{% raw xsrf_form_html() %}

			<h2>Recipient</h2>
			{% if data['state'] == 'DraftState' %}
				<fieldset>
					<label for="">Email Address or Name of Existing Contact</label>
					<input type="text" name="email" id="client-suggest" />
					<!-- instead of pre-filling this with the slug, can we populate the DOM? -->
				</fieldset>
			{% else %}
				<div id="agreement-profile" class="data-table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="meta">
								<span><img src="{% raw data['client']['profileURL'][0] %}" width="50"></span>
							</td>
							<td>
								<h3><a href="detail.html">{{ data['client']['fullName'] }}</a></h3>
								<p>{{ data['client']['email'] }} {% if data['client']['telephone'] %} &mdash; {{ data['client']['telephone'] }}{% end %}</p>
							</td>
						</tr>
					</table>
				</div>
			{% end %}

			<h2>Proposal</h2>
			<fieldset>
				<label for="">Title</label>
				<input type="text" name="title" value="{{ data['name'] or '' }}" size="100" />
				<label for="summary">Proposed Services
				<span>Describe what work will be done, who is responsible for various aspects of the job, and how work will be judged acceptable.</span>
				</label>
				<textarea name="summary" rows="3" cols="100">{% if data['summary'] and len(data['summary']) %}{{ data['summary'] }}{% end %}</textarea>
				{% if data['state'] == 'DeclinedState' and data['summaryComments'] %}
					<div class="notes">
					  <p>{% raw escape(data['summaryComments']).replace('\n', '<br/>') %}</p>
					</div>
				{% end %}
			</fieldset>
			
			<h2>Payment Schedule</h2>
			<fieldset id="phases">
				<!-- write code to dynamically generate this -->
				<ul>
					<li{% if len(data["phases"]) > 0 %} class="has-content"{% end %}>
						<h3 class="new_payment_title">First Payment</h3>
						<div>


							<!-- this code will eventually be used to allow the user to define the payment milestone -->
							<!-- <label for="">Payment Milestone</label>
							<input type="text" name="milestone" placeholder="Examples: initial deposit, final payment, certain deliverables" value="{% if len(data["phases"]) > 0 %}{{ data["phases"][0]["amount"] }}{% end %}" size="100" /> -->
							
							<label for="">Payment Amount
							<span>Please enter an amount between $1.00 and $100,000.00</span></label>
							<input type="text" name="cost" placeholder="$0.00" value="{% if len(data["phases"]) > 0 %}{{ data["phases"][0]["amount"] }}{% end %}" size="100" />
							
							<label for="">Expected Payment Date</label>
							{% set datestamp = data["phases"][0]["estDateCompleted"] if len(data["phases"]) > 0 else None %}
							{% module DateWidget('date', datestamp) %}
							
							<label for="">Description (Optional)</label>
							<textarea name="details" rows="5" cols="100">{% if len(data["phases"]) > 0 %}{{ data["phases"][0]["description"] }}{% end %}</textarea>
							{% if data['state'] == 'DeclinedState' and len(data["phases"]) > 0 and 'comments' in data['phases'][0] %}
								<div class="notes">
								  <p>{% raw escape(data['phases'][0]['comments']).replace('\n', '<br/>') %}</p>
								</div>
							{% end %}
						</div>
					</li>
					<li{% if len(data["phases"]) > 1 %} class="has-content"{% end %}>
						<h3 class="new_payment_title">Second Payment</h3>
						<div>
							<label for="">Payment Amount</label>
							<input type="text" name="cost" placeholder="$0.00" value="{% if len(data["phases"]) > 1 %}{{ data["phases"][1]["amount"] }}{% end %}" size="100" />
							<label for="">Expected Payment Date</label>
							{% set datestamp = data["phases"][1]["estDateCompleted"] if len(data["phases"]) > 1 else None %}
							{% module DateWidget('date', datestamp) %}
							<label for="">Description (Optional)</label>
							<textarea name="details" rows="5" cols="100" value="" >{% if len(data["phases"]) > 1 %}{{ data["phases"][1]["description"] }}{% end %}</textarea>
							{% if data['state'] == 'DeclinedState' and len(data["phases"]) > 1 and 'comments' in data['phases'][1] %}
								<div class="notes">
								  <p>{% raw escape(data['phases'][1]['comments']).replace('\n', '<br/>') %}</p>
								</div>
							{% end %}
						</div>
					</li>
					<li{% if len(data["phases"]) > 2 %} class="has-content"{% end %}>
						<h3 class="new_payment_title">Third Payment</h3>
						<div>
							<label for="">Payment Amount</label>
							<input type="text" name="cost" placeholder="$0.00" value="{% if len(data["phases"]) > 2 %}{{ data["phases"][2]["amount"] }}{% end %}" size="100" />
							<label for="">Expected Payment Date</label>
							{% set datestamp = data["phases"][2]["estDateCompleted"] if len(data["phases"]) > 2 else None %}
							{% module DateWidget('date', datestamp) %}
							<label for="">Description (Optional)</label>
							<textarea name="details" rows="5" cols="100" value="" >{% if len(data["phases"]) > 2 %}{{ data["phases"][2]["description"] }}{% end %}</textarea>
							{% if data['state'] == 'DeclinedState' and len(data["phases"]) > 2 and 'comments' in data['phases'][2] %}
								<div class="notes">
								  <p>{% raw escape(data['phases'][2]['comments']).replace('\n', '<br/>') %}</p>
								</div>
							{% end %}
						</div>
					</li>
					<li{% if len(data["phases"]) > 3 %} class="has-content"{% end %}>
						<h3 class="new_payment_title">Fourth Payment</h3>
						<div>
							<label for="">Payment Amount</label>
							<input type="text" name="cost" placeholder="$0.00" value="{% if len(data["phases"]) > 3 %}{{ data["phases"][3]["amount"] }}{% end %}" size="100" />
							<label for="">Expected Payment Date</label>
							{% set datestamp = data["phases"][3]["estDateCompleted"] if len(data["phases"]) > 3 else None %}
							{% module DateWidget('date', datestamp) %}
							<label for="">Description (Optional)</label>
							<textarea name="details" rows="5" cols="100" value="" >{% if len(data["phases"]) > 3 %}{{ data["phases"][3]["description"] }}{% end %}</textarea>
							{% if data['state'] == 'DeclinedState' and len(data["phases"]) > 3 and 'comments' in data['phases'][3] %}
								<div class="notes">
								  <p>{% raw escape(data['phases'][3]['comments']).replace('\n', '<br/>') %}</p>
								</div>
							{% end %}
						</div>
					</li>
				</ul>
				<h3 class="add_more_title" style="padding-left: 0px; font-weight: 100;"><a href="#" id="add-phase-btn" class="add-more"><p class="add-more">Add a payment</p></a></h3>
			</fieldset>
		</form>
	</div>

	{% module Footer() %}
</div>

	{% if not data.get('amazonAccountConfirmed', False) %}
	<div class="clear prompt-box" id="configure-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>Please configure a payment account to receive payments.</h3>
			<p>Wurk Happy uses Amazon Payments or Zipmark Digital Checks to facilitate transactions between you 
				and your clients. In order to receive you need to have at least one of these services configured.
				Please click the &ldquo;Configure Payments&rdquo; button to the right in order to start accepting
				payments fron clients.</p>
			<p>You can read more about payments <a href="/help/faqs/payments">here</a>.</p>
		</div>
		<div class="column-one-fourth">
			<ul>
				<li><a href="/user/me/account#payments">Configure Payments</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clear prompt-box" id="verify-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>Please complete the Amazon Payments verification process.</h3>
			<p>After signing up for Amazon Payments, you should receive an email from Amazon asking you to verify
				your account. Typically this email asks you to connect a bank account and complete a tax questionnaire.
				Please complete any of these steps on the Amazon Payments web site and click "Verify Account" when
				you've finished.</p>
		</div>
		<div class="column-one-fourth">
			<ul class="action-button">
				<li><a href="#" rel="nofollow" id="amazon_verify" class="top js-button">Verify Account</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clear prompt-box" id="success-div" style="display:none;">
		<div class="column-three-fourth">
			<h3><span style="font-size: 30px; margin-right: 10px;"><a href="#" class="js-close-btn" style="color:#EEE; text-shadow: 1px 1px #333">&#x2297;</a></span>Amazon Marketplace Account</h3>
			<p>Your Amazon Marketplace Account has been successfully connected and verified with Amazon. You are ready to start receiving payments through Wurk Happy!</p>
		</div>
	</div>
	{% end %}
	
	<div class="clear prompt-box" id="password-div" style="display:none;">
		<div class="column-three-fourth">
			<h3>We need to make sure it&rsquo;s really you.</h3>
			<hr />
			<p>Please enter your password to <span id="action-name">continue</span>.</p>
			<form action="/login.json" method="POST" accept-charset="utf-8" id="password-form">
				<input type="password" name="password" />
				<input type="hidden" name="user_id" value="{{ data[data['self']]['id'] }}" />
			</form>
		</div>
		<div class="column-one-fourth">
			<ul class="action-button">
				<li><a href="#" id="password-submit" class="top js-button">Sign In</a></li>
			</ul>
		</div>
	</div>

{% end %}



### Overridden blocks

{% block styles-custom %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/autosuggest.css") }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/datepicker.css") }}" media="screen" />
{% end %}



{% block scripts-custom %}
	<script src="{{ static_url("scripts/libs/jquery.ui.datepicker.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/libs/jquery-autosuggest-1.4.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/accordion.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/agreements.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/datepicker.js") }}" type="text/javascript"></script>
{% end %}



### Component blocks included from above


{% block header %}
	<div id="intro" class="clear">

		<div class="column-three-fourth">

			{% if not data['id'] %}
				<h1>Create Client Agreement</h1>
			{% else %}
				<h1>Edit Client Agreement</h1>
			{% end %}

		</div>

		<div class="column-one-fourth">

			<ul class="action-button">
			{% for (id, label) in data['actions'] %}
				<li><a href="#" id="{{ id }}" class="top js-button cookie-authenticated">{{ label }}</a></li>
			{% end %}
			</ul>

		</div>

	</div>
{% end %}
