{% extends "../base.html" %}

### Redefine the main block

{% block main %}
<div class="container">
	{% block navigation %}
	{% end %}
	
	{% block header %}
	{% end %}
	
	<div id="content" class="clear">
		<form action="#" method="get" accept-charset="utf-8">
			<fieldset>
				<h2>Recipient</h2>
				<label for="">Name</label>
				<select name="" id="">
					<option value="option1">Joe Smith (joe.smith@domain.com)</option>
					<option value="option2">Jane Doe (jane.doe@domain.com)</option>
				</select>
				<p class="action"><a href="../people/new.html">Add new person</a></p>
				<label for="">Personal Message in Notification Email (optional)</label>
				<textarea name="name" rows="3" cols="100"></textarea>
			</fieldset>
			<fieldset>
				<h2>Service Agreement</h2>
				<label for="">Title</label>
				<input type="text" name="" value="" id="" size="100">
				<label for="">Cost</label>
				<input type="text" name="" value="" id="" size="100">
				<label for="">Date of Issue</label>
				<select name="" id="">
					<option value="option1">January</option>
					<option value="option2">February</option>
				</select>
				<select name="" id="">
					<option value="option1">1</option>
					<option value="option2">2</option>
				</select>
				<select name="" id="">
					<option value="option1">2011</option>
					<option value="option2">2012</option>
				</select>
				<label for="">Service Agreement Details</label>
				<textarea name="name" rows="20" cols="100"></textarea>
				<label for="">Reasons for Refund</label>
				<textarea name="name" rows="10" cols="100"></textarea>
			</fieldset>
			<fieldset class="submit-buttons">
				<a href="" class="single">Save Changes &amp; Resend Client Agreement</a>
			</fieldset>
		</form>
	</div>
	
	{% block footer %}
	{% end %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">

		<div class="column-one-half">

			<ul class="clear">
				<li{% if agreement_with == 'Client' %} class="current"{% end %}><a href="/agreements/with/clients"><strong>Client Agreements</strong></a></li>
				<li{% if agreement_with == 'Vendor' %} class="current"{% end %}><a href="/agreements/with/vendors"><strong>Vendor Agreements</strong></a></li>
				<li><a href="/people"><strong>People</strong></a></li>
			</ul>

		</div>

		<div class="column-one-half">

			<ul id="admin" class="clear">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/admin/account">Account</a></li>
				<li><a href="/admin/preferences">Preferences</a></li>
			</ul>

		</div>

	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
	
		<div class="column-three-fourth">
		
			<h1>Edit Client Agreement</h1>
		
		</div>
	
		<div class="column-one-fourth">
		
			<div class="action-button">
				<a href="../clients/detail.html" class="single cancel">Cancel Changes</a>
			</div>
		
		</div>
	
	</div>
{% end %}



{% block transactionitem %}
				<tr>
					<td>
						{{ transaction['type'] }} <a href="/people/{{ bag[transaction['user']]['id'] }}">{{ bag[transaction['user']]['name'] }}</a> on {{ transaction['date'] }}
					</td>
				</tr>
{% end %}



{% block footer %}
	<div id="footer" class="clear">

		<div class="column-one-fourth">

			<h3>Archives</h3>

			<ul>
				<li><a href="">All Client Agreements</a></li>
				<li><a href="">All Vendor Agreements</a></li>
				<li><a href="">All People</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 2</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 3</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 4</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

	</div>


	<div id="copyright" class="clear">

		<p>Powered by Wurk Happy &bull; Copyright &#169; Wurk Happy. All rights reserved.</p>

	</div>
{% end %}
