{% extends "../base.html" %}



### Redefine the main block
{% block main %}


<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div class="clear">
			{% if len(data['agreementGroups']) %}
				{% for name, agreements in data['agreementGroups'] %}
					{% block listgroup %}
					{% end %}
				{% end %}
			{% else %}
				<h2>You Don't Have Any Current Agreements</h2>
				<p>Wurk Happy can help you organize and negotiate agreements with your {% if data['agreementType'] == 'Client' %}clients {% elif data['agreementType'] == 'Vendor' %}contractors {% end %}. Click the "Create New Agreement" button to get started! [In the future, we'll have a better tutorial here.]</p>
			{% end %}
		</div>
	</div>

	{% module Footer() %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}



{% block header %}
	<div id="intro" class="clear">

		<div class="column-three-fourth">
			{% if data['agreementCount'] == 0 %}
				<h1>No {{ escape(data['agreementType']) }} Agreements</h1>
			{% elif data['agreementCount'] == 1 %}
				<h1><strong>1</strong> {{ data['agreementType'] }} Agreement ({{ data['aggregateCost'] }})</h1>
			{% else %}
				<h1><strong>{{ data['agreementCount'] }}</strong> {{ data['agreementType'] }} Agreements ({{ data['aggregateCost'] }})</h1>
			{% end %}

		</div>
		<div class="column-one-fourth">

			<ul class="action-button">
				{% if not data['paymentEnabled'] %}
					<li><a href="/user/me/account#dwolla" class="single">Connect an Account</a></li>
				{% elif data['agreementType'] == 'Client' %}
					<li><a href="/agreement/new" class="single">Create New Agreement</a></li>
				{% elif data['agreementType'] == 'Vendor' %}
					<li><a href="/agreement/request" class="single">Request Agreement</a></li>
				{% end %}
			</ul>

		</div>

	</div>
{% end %}



{% block listgroup %}
			<h2>{{ name }}</h2>
			<div class="data-table">
				{% for agreement in agreements %}
					{% block listitem %}
					{% end %}
				{% end %}
			</div>
{% end %}



{% block listitem %}
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<!-- TODO: move the style to CSS and use a background placeholder image -->
							<span style="height: 50px; width: 50px;">{% if agreement['other_id'] %}<img src="{{ agreement['profileURL'] }}" width="50">{% end %}</span>
						</td>
						<td>
							<h3><a href="/agreement/{{ agreement['id'] }}">{{ agreement['name'] or 'Untitled Agreement' }}</a></h3>
							<p>
								{% if 'amount' in agreement and agreement['amount'] %}<strong>Cost:</strong> {{ agreement['amount'] }} &mdash; {% end %}
								{% if 'paid' in agreement and agreement['paid'] %}<strong>Deposit:</strong> {{ agreement['paid'] }} &mdash; {% end %}
								{% if agreement['other_id'] is None %}
									Unsent draft from {{ agreement['date'] }}</p>
								{% else %}
									{% if data['agreementType'] == 'Client' %}Sent to {% elif data['agreementType'] == 'Vendor' %}Received from {% end %}
									<strong><a href="/people/{{ agreement['other_id'] }}">{{ agreement['other_name'] }}</a></strong>
									on {{ agreement['date'] }}</p>
								{% end %}
						</td>
					</tr>
				</table>
{% end %}
