<div class="container">

	<div id="navigation" class="clear">

		<div class="column-one-half">

			<ul class="clear">
				<li class="current"><a href="/agreements/clients"><strong>Client Agreements</strong></a></li>
				<li><a href="/agreements/vendors"><strong>Vendor Agreements</strong></a></li>
				<li><a href="/people"><strong>People</strong></a></li>
			</ul>

		</div>

		<div class="column-one-half">

			<ul id="admin" class="clear">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/admin/account.html">Account</a></li>
				<li><a href="/admin/preferences.html">Preferences</a></li>
			</ul>

		</div>

	</div>


	<div id="intro" class="clear">

		<div class="column-three-fourth">

			<h1>6 Client Agreements ($38,400)</h1>

		</div>
		<div class="column-one-fourth">

			<div class="action-button">
				<a href="new.html" class="single">Request Agreement</a>
			</div>

		</div>

	</div>


	<div id="content" class="clear">

		<div class="clear">

			<h2>Declined Agreement</h2>
			<div class="data-table">

				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail-declined.html">Atheneum Learning - Marketing Website</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
				</table>

			</div>

			<h2>Waiting for Agreement</h2>
			<div class="data-table">

				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail.html">Performable - Updating Application</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
				</table>

			</div>

			<h2>Waiting for Verification</h2>
			<div class="data-table">

				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail.html">Atheneum Learning - Marketing Website</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
				</table>

			</div>

			<h2>In Progress</h2>
			<div class="data-table">

				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail.html">Performable - Updating Application</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail.html">Atheneum Learning - Marketing Website</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
					<tr>
						<td class="meta">
							<span><img src="../_images/dan-face.png" width="50"></span>
						</td>
						<td>
							<h3><a href="detail.html">Performable - Updating Application</a></h3>
							<p>Sent to <a href="../people/detail.html">Joe Smith</a> for $6,400 on April 12, 2011</p>
						</td>
					</tr>
				</table>

			</div>

		</div>

	</div>


	<div id="footer" class="clear">

		<div class="column-one-fourth">

			<h3>Archives</h3>

			<ul>
				<li><a href="">All Client Agreements</a></li>
				<li><a href="">All Vendor Agreements</a></li>
				<li><a href="">All People</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 2</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 3</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 4</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

	</div>


	<div id="copyright" class="clear">

		<p>Powered by Wurk Happy &bull; Copyright &#169; Wurk Happy. All rights reserved.</p>

	</div>


</div>
