{% extends "../base.html" %}



### Redefine the main block
{% block main %}


<div class="container">
	{% block navigation %}
	{% end %}
	
	{% block header %}
	{% end %}
	
	<div id="content" class="clear">
		<div class="clear">
			{% if len(bag['agreementGroups']) %}
				{% for name, agreements in bag['agreementGroups'] %}
					{% block listgroup %}
					{% end %}
				{% end %}
			{% else %}
				<h2>You Don't Have Any Current Agreements</h2>
				<p>Wurk Happy can help you organize and negotiate agreements with your {% if agreement_with == 'Client' %}clients {% elif agreement_with == 'Vendor' %}vendors {% end %}. Click the "Create New Agreement" button to get started! [In the future, we'll have a better tutorial here.]</p>
			{% end %}
		</div>
	</div>
	
	{% block footer %}
	{% end %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">

		<div class="column-one-half">

			<ul class="clear">
				<li{% if bag['agreementType'] == 'Client' %} class="current"{% end %}><a href="/agreements/with/clients"><strong>Client Agreements</strong></a></li>
				<li{% if bag['agreementType'] == 'Vendor' %} class="current"{% end %}><a href="/agreements/with/vendors"><strong>Vendor Agreements</strong></a></li>
				<li><a href="/people"><strong>People</strong></a></li>
			</ul>

		</div>

		<div class="column-one-half">

			<ul id="admin" class="clear">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/user/me/account">Account</a></li>
				<li><a href="/user/{{ bag['userID'] }}/preferences">Preferences</a></li>
			</ul>

		</div>

	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">

		<div class="column-three-fourth">
			{% if bag['agreementCount'] == 0 %}
				<h1>No {{ escape(bag['agreementType']) }} Agreements</h1>
			{% elif bag['agreementCount'] == 1 %}
				<h1><strong>1</strong> {{ bag['agreementType'] }} Agreement ({{ bag['aggregateCost'] }})</h1>
			{% else %}
				<h1><strong>{{ bag['agreementCount'] }}</strong> {{ bag['agreementType'] }} Agreements ({{ bag['aggregateCost'] }})</h1>
			{% end %}

		</div>
		<div class="column-one-fourth">

			<ul class="action-button">
				{% if agreement_with == 'Client' %}
					<li><a href="/agreement/new" class="single">Create New Agreement</a></li>
				{% elif agreement_with == 'Vendor' %}
					<li><a href="/message/new" class="single">Request Agreement</a></li>
				{% end %}
			</ul>

		</div>

	</div>
{% end %}



{% block listgroup %}
			<h2>{{ name }}</h2>
			<div class="data-table">
				{% for agreement in agreements %}
					{% block listitem %}
					{% end %}
				{% end %}
			</div>
{% end %}



{% block listitem %}
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="meta">
							<!-- TODO: move the style to CSS and use a background placeholder image -->
							<span style="height: 50px; width: 50px;">{% if agreement['other_id'] %}<img src="{{ agreement['profileURL'] }}" width="50">{% end %}</span>
						</td>
						<td>
							<h3><a href="/agreement/{{ agreement['id'] }}">{{ agreement['name'] or 'Untitled Agreement' }}</a></h3>
							<p>
								{% if 'amount' in agreement and agreement['amount'] %}<strong>Cost:</strong> {{ agreement['amount'] }} &mdash; {% end %}
								{% if 'paid' in agreement and agreement['paid'] %}<strong>Deposit:</strong> {{ agreement['paid'] }} &mdash; {% end %}
								{% if agreement['other_id'] is None %}
									Unsent draft from {{ agreement['date'] }}</p>
								{% else %}
									{% if agreement_with == 'Client' %}Sent to {% elif agreement_with == 'Vendor' %}Received from {% end %}
									<strong><a href="/people/{{ agreement['other_id'] }}">{{ agreement['other_name'] }}</a></strong>
									on {{ agreement['date'] }}</p>
								{% end %}
						</td>
					</tr>
				</table>
{% end %}



{% block footer %}
	<div id="footer" class="clear">

		<div class="column-one-fourth">

			<h3>Archives</h3>

			<ul>
				<li><a href="">All Client Agreements</a></li>
				<li><a href="">All Vendor Agreements</a></li>
				<li><a href="">All People</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 2</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 3</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

		<div class="column-one-fourth">

			<h3>Section 4</h3>

			<ul>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Links</a></li>
			</ul>

		</div>

	</div>


	<div id="copyright" class="clear">

		<p>Powered by Wurk Happy &bull; Copyright &#169; Wurk Happy. All rights reserved.</p>

	</div>
{% end %}
