{% extends "../base.html" %}



### Redefine the main block
{% block main %}

<div class="container">

	{% block header %}
	{% end %}

	<div id="content" class="clear">

	</div>

	{% module Footer() %}
</div>

{% end %}


### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}

{% block header %}
	<div id="intro" class="clear">

		<div class="column-three-fourth">
			<h1>Request Vendor Agreement</h1>
		</div>

		<div class="column-one-fourth">

			<ul class="action-button">
				<li><a href="#" id="" class=""><span>Cancel Request</span></a></li>
			</ul>

		</div>

	</div>
{% end %}
