{% extends "../base.html" %}

{% block main %}

<div class="container">

	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div><p></p></div>
		<div>
			<h1>Privacy Policy</h1>

			<p>This Privacy Policy is incorporated by reference into the Wurk Happy Terms of Use.<a href="/legal/terms">Terms of Use</a> The term &ldquo;Wurk Happy,&rdquo; &ldquo;we,&rdquo; and &ldquo;us&rdquo; includes Wurk Happy Inc. and our affiliates.  The Privacy Policy explains how Wurk Happy may:</p>
			<ul>
				<li>collect,</li>
				<li>use, and</li>
				<li>disclose</li>
			</ul>
			<p>information it obtains through the &ldquo;Wurk Happy Service.&rdquo;</p>

			<p>The &ldquo;Wurk Happy Service&rdquo; is defined as any website, mobile application, or Internet service under the control of Wurk Happy Inc., whether partial or otherwise, in connection with providing an online platform for Wurk Happy’s services.</p>
		</div>

		<div>
			<p><strong>Policy Scope.</strong>  This Privacy Policy covers how we treat personal information (&ldquo;Personal Information&rdquo;) and other information that we collect through the Wurk Happy Service.</p>
		</div>
		
		<div>
			<p><strong>Personal Information Defined.</strong>  We consider &ldquo;Personal Information&rdquo; to include information that alone or when in combination with other information may be used to readily identify, contact, or locate you, such as: name, address, email address, or phone number.  We do not consider Personal Information to include information that has been anonymized so that it does not allow a third party to easily identify a specific individual.
			</p>
		</div>

		<div>
			<p><strong>Use and Acceptance.</strong>  By using this website or the Wurk Happy Service and accepting the Terms of Use, you also agree to this Privacy Policy.  If you do not accept this Privacy Policy, you must not use this website or the Wurk Happy Service.</p>
		</div>

		<div>
			<p><strong>New Uses of Personal Information and Other Information.</strong>  From time to time, we may use Personal Information for new, unanticipated uses not previously disclosed in our Privacy Policy.  If our information practices change regarding information previously collected, we will make reasonable efforts to provide notice and obtain consent to any such uses as may be required by law.</p>
		</div>

		<div>
			<p><strong>Posting of Revised Privacy Policy.</strong>  We will post any adjustments to the Privacy Policy on this web page.  The revised version will be effective at the time it is posted.  If you are concerned about how your information is used, bookmark this page and read the Privacy Policy periodically.</p>
		</div>

		<div>
			<p><strong>Other Websites and Pages.</strong>  When you navigate away from the Wurk Happy Service to websites or apps controlled by third parties, you leave the Wurk Happy Service, at which point this Privacy Policy no longer applies.  You will not receive a notice warning when you leave the Wurk Happy Service.</p>
		</div>

		<div>
			<h2>THE WURK HAPPY SERVICE COLLECTS YOUR INFORMATION</h2>

			<div style="border:1px solid black;margin:15px;padding:5px">
				<p>We may collect Personal Information when you:</p>
 
				<ul>
					<li>register to use the Wurk Happy Service</li>
					<li>post work agreements and proposals; and</li>
					<li>communicate with us. </li>
				</ul>
 
				<p>We also collect information, such as anonymous usage statistics, by using cookies, server logs, and other similar technology as you use the Wurk Happy Service.</p>

				<p>We do not collect the Personal Information you submit to make a payment.</p>
			</div>
		</div>

		<div>
			<p><strong>Personal Information Collection.</strong>  You must register to use the Wurk Happy Service.  To register, you may need to provide Personal Information, such as your name, username, password, email address, and telephone number.  You may also provide other optional information.</p>
		</div>
				
		<div>
			<p><strong>Work Agreements and Proposals.</strong>  We may also collect Personal Information provided in the work agreements and proposals you post on the Wurk Happy Service.</p>
		</div>

		<div>
			<p><strong>Customer Support.</strong>  We may collect Personal Information through your communications with our customer-support team.</p>
		</div>
				  
		<div>
			<p><strong>Making Payments.</strong>  When you pay a freelancer through the Wurk Happy Service, you may need to provide Personal Information to our third-party service providers.  We do not collect any of the Personal Information you provide to make a payment, but we may collect information about the payment, such as the date and amount of the payment.</p>
		</div>

		<div>
			<p><strong>Cookies, Automatic Data Collection, and Related Technologies.</strong>  The Wurk Happy Service collects and stores information that is generated automatically as you use it, including your preferences and anonymous usage statistics.</p>
		</div>

		<div>
			<p>When you visit the Wurk Happy Service, we and our third-party service providers receive and record information on our server logs from your browser, including your IP address, and from cookies and similar technology.  Cookies are small text files placed in visitors’ computer browsers to store their preferences.  Most browsers allow you to block and delete cookies.  However, if you do that, the Wurk Happy Service may not work properly.</p>

			<p>By using the Wurk Happy Service, you are authorizing us to gather, parse, and retain data related to the provision of the Wurk Happy Service.</p>
		</div>

		<div>
			<h2>HOW WURK HAPPY USES YOUR INFORMATION</h2>

			<div style="border:1px solid black;margin:15px;padding:5px">
				<p>We use Personal Information to:</p>

				<ul>
					<li>facilitate and improve the Wurk Happy Service; and</li>
					<li>communicate with you.</li>
				</ul>

				<p>We do not rent, sell, or share Personal Information about you with other people or nonaffiliated companies for their direct marketing purposes, unless we have your permission.</p>

				<p>We may use aggregate information for any purpose, including for marketing purposes.</p>
				</div>
		</div>


		<div>
			<p><strong>Internal and Service-Related Usage.</strong>  We use Personal Information for internal and service-related purposes only and may provide it to third parties to allow us to facilitate the Wurk Happy Service.  For example, the Wurk Happy Service may display your Personal Information, including your email address and telephone number, to a freelancer with whom you have a work agreement.</p>
		</div>

		<div>
			<p><strong>Communications.</strong>  We may send email to the email address you provide to us to verify your account and for informational and operational purposes, such as account management, customer service, or system maintenance.</p>
		</div>

		<div>
			<p><strong>Marketing.</strong>  We do not rent, sell, or share Personal Information about you with other people or nonaffiliated companies for their direct marketing purposes, unless we have your permission.  We may allow access to other data collected by the Wurk Happy Service to enable the delivery of online advertising on this website, or otherwise facilitate transmittal of information that may be useful, relevant, valuable or otherwise of interest to you.</p>
		</div>

		<div>
			<p><strong>Improve Service.</strong>  We may retain any data you provide to:</p>
		
 
			<ul>
				<li>Provide customer support; </li>
				<li>Track the types of questions we receive; </li>
				<li>Analyze usage trends; and</li>
				<li>Otherwise enhance the Wurk Happy Service.</li>
			</ul>
		</div>
		
		<div>
			<p><strong>Aggregate Data.</strong>  We may anonymize and aggregate data collected through the Wurk Happy Service and use it for any purpose.</p>
		</div>

		<div>
			<h2>WURK HAPPY MAY DISCLOSE YOUR INFORMATION</h2>

    		<div style="border:1px solid black;margin:15px;padding:5px">
				<p>We may share your information:</p>

				<ul>
					<li>with our third-party service providers;</li>
					<li>to comply with legal obligations;</li>
					<li>to protect and defend our rights and property; and</li>
					<li>with your permission.</li>
				</ul>
			</div>
		</div>

		<div>
			<p><strong>We Use Vendors and Service Providers.</strong>  We may share any information we receive with vendors and service providers retained in connection with the provision of the Wurk Happy Service.</p></div>

		<div>
			<p><strong>As Required By Law and Similar Disclosures.</strong>  We may access, preserve, and disclose your Personal Information, other account information, and content if we believe doing so is required by law or if those actions are reasonably necessary to:</p>

			<ul>
				<li>comply with legal process, such as a court order or subpoena;</li>
				<li>enforce this Privacy Policy or our Terms of Use; </li>
				<li>respond to claims that any content violates the rights of third parties;</li>
				<li>respond to your requests for customer service;</li>
				<li>respond to law enforcement;</li>
				<li>investigate and prevent unauthorized transactions or other illegal activities; or </li>
				<li>protect our or others’ rights, property, or personal safety.</li>
			</ul>
		</div>

		<div>
			<p><strong>Merger, Sale, or Other Asset Transfers.</strong>  If we are involved in a merger, acquisition, financing due diligence, reorganization, bankruptcy, receivership, sale of company assets, or transition of service to another provider, your information may be sold or transferred as part of that transaction.  We do not guarantee that any entity receiving such information in connection with one of these transactions will comply with all terms of this Privacy Policy.</p>

			<p>We may also disclose your Personal Information with your permission.</p>
		</div>

		<div>
			<h2>SECURITY OF YOUR INFORMATION</h2>

			<p>We take steps to ensure that your information is treated securely and in accordance with this Privacy Policy.  Unfortunately, we cannot ensure or warrant the security of any information you transmit through the Wurk Happy Service, and you do so at your own risk.</p>

			<p>By using the Wurk Happy Service or providing Personal Information to us, you agree that we may communicate with you electronically regarding security, privacy, and administrative issues relating to your use of the Wurk Happy Service.  If we learn of a security system’s breach, we may attempt to notify you electronically by posting a notice on the Wurk Happy Service or sending an email to you.  You may have a legal right to receive this notice in writing.  To receive free written notice of a security breach (or to withdraw your consent from receiving electronic notice), please notify us at <a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a>.</p>
		</div>

		<div>
			<h2>INTERNATIONAL USERS</h2>

			<p>By choosing to visit the Wurk Happy Service or otherwise provide information to us, you agree that any dispute over privacy or the terms contained in this Privacy Policy will be governed by the law of the state of New York and the adjudication of any disputes arising in connection with Wurk Happy or the Wurk Happy Service will be in accordance with the Terms of Use. <a href="/legal/terms">Terms of Use</a></p>

			<p><strong>If you are visiting from the European Union or other regions with laws governing data collection and use, please note that you are agreeing to the transfer of your information to the United States and processing globally. By providing your information you consent to any transfer and processing in accordance with this Policy.</strong></p>
		</div>

		<div>
			<h2>UPDATE YOUR INFORMATION OR POSE A QUESTION OR SUGGESTION</h2>

			<p>If you would like to update or correct any information that you have provided to us through your use of the Wurk Happy Service or otherwise, or if you have suggestions for improving this Privacy Policy, please send an email to <a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a>.</p>
		</div>

		<div>
			<p><strong>Contact Information</strong></p>
			<p>Wurk Happy Inc.<br />
				c/o Collab<br />
				304 Hudson Street<br />
				New York, NY 10013</p>
			
			<p><a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a></p>
		</div>

	</div>
</div>

{% end %}



{% block header %}

<div id="intro" class="clear">
	<div class="column-one-half">
		<h1>Privacy Policy</h1>
	</div>
	<div class="column-one-half">
		<p>Effective May 10, 2012 &mdash; Last Updated May 10, 2012</p>
	</div>
</div>

{% end %}



{% block navigation %}

<div id="navigation" class="clear">
	<div class="column-three-fourth">
		<ul class="clear">
			<li><a href="/"><strong>Wurk Happy Home</strong></a></li>
		</ul>
	</div>
	<div class="column-one-fourth">
	</div>
</div>

{% end %}