/* RESET
================================================================================ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

body {
  line-height: 1.5em;
  background: rgb(255,255,255);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* COMMON
================================================================================ */

body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgb(220,224,228) url(../images/bg.png);
  color: rgb(100,100,100);
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(0,153,221);
}

a:hover,
a:active {
  text-decoration: underline;
  color: rgb(0,137,198);
}

p, ul, ol, dl {
  padding: 0 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin-left: 30px;
}

strong {
  font-weight: bold;
}

h1, h2, h3 {
  color: rgb(0,0,0);
  padding: 0 20px;
  font-family: Museo;
}

h1 { 
  font-size: 40px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
}

h2 { 
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

h3 {
  font-weight: 300;
  font-size: 1.4em;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}

h4 {
	font-weight: bold;
  font-size: 1em;
  padding: 0 20px;
  margin: 20px 0 10px 0;
}


/* STRUCTURE
================================================================================ */
.noscriptmsg p {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 30px;
	background: rgb(220,224,228) url(../images/bg.png);
	padding:20px;
	top:25%;
	z-index: 5;
}

.container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
}

.clear {
  float: left;
  width: 100%;
  clear: both;
}

.column-three-fourth { width: 720px; }
.column-two-third { width: 640px; }
.column-one-half { width: 480px; }
.column-one-third { width: 320px; }
.column-one-fourth { width: 240px; }

.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third,.column-three-fourth {
  float: left;
}

.hidden {
  display: none;
}

.dim {

}

/* NAVIGATION
================================================================================ */


#navigation {
  
}

#navigation ul {
  margin: 0;
  padding: 0;
  float: right;
}

#navigation ul li {
  display: block;
  float: left;
  padding: 15px 0 15px 10px;
}

#navigation ul li a:link,
#navigation ul li a:visited {
  display: block;
  float: left;
  padding: 4px 14px;
  color: rgb(104,110,116);
  /*background-color: rgb(220,224,228);*/
	background: #CFD4DD;
	background: linear-gradient(to bottom, #CFD4DD 0%,#B7BFCC 100%);
	background: -moz-linear-gradient(top, #CFD4DD 0%, #B7BFCC 100%);
	background: -webkit-linear-gradient(top, #CFD4DD 0%,#B7BFCC 100%);
	background: -o-linear-gradient(top, #CFD4DD 0%,#B7BFCC 100%);
	background: -ms-linear-gradient(top, #CFD4DD 0%,#B7BFCC 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(230,234,238);
}
#navigation ul li a:hover,
#navigation ul li a:active {
	background:rgb(230,234,238);
  border: 1px solid rgb(240,244,248);

}

#navigation p {
  font-family: Museo;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background: transparent url(../images/logo.png) no-repeat left;
  float: left;
}

#navigation p a:link,
#navigation p a:visited {
  color: rgb(0,0,0);
  display: block;
  padding: 18px 20px 22px 70px;
  text-decoration: none;
}

#navigation p a:hover,
#navigation p a:active {
  color: rgb(100,100,100);
}


/* INTRO
================================================================================ */


#intro {
  background: rgb(0,122,177) url(../images/shade-intro.png) repeat-x top;
  color: rgb(191,229,246);
  border-bottom: 1px solid rgb(0,122,177);
  padding: 20px 0 20px 0;
  color: rgb(205,230,240);
}

#intro .dot {
	border: 5px solid white;
	border-radius: 200px;
	width: 250px;
	height: 250px;
	box-shadow: 2px 2px 20px #555;
  display: block;
  margin: 20px 0 0 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#intro h2,
#intro h3,
#intro p {
  text-align: center;
}

#intro h1 {
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  color: rgb(255,255,255);
	text-align: center;
	margin-bottom: 0;
}

#intro h2 {
	font-family: "Museo Sans";
	font-weight: 100;
  color: rgb(255,255,255);
	margin: 0 0 18px 0;
}

#intro h3 {
	font-weight: 300;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  color: rgb(255,255,255);
  margin: 20px 0 8px 0;
}

#intro small {
	margin-left: 320px;
	font-style: italic;
	padding: 20px;
}

/* INTERNAL
================================================================================ */


#internal {
	background: #CEEAF3;
	border-top: 1px solid white;
	background: rgb(220,224,228) url(../images/bg.png);
	border-bottom: 1px solid rgb(184,190,196);
}

#internal ul {
  padding: 0;
  margin: 0;
}

#internal ul li {
  list-style: none;
  display: block;
  float: left;
	/*outline: 1px solid white;*/
}

#internal ul li a {
  display: block;
  float: left;
  padding: 20px;
  font-weight: bold;
}

#internal ul li.current a {
	outline: 1px solid white;
  background: rgb(255,255,255);
	outline: 1px solid white;
}

#internal ul li.action-button {
  padding: 10px 0;
  margin: 0;
  float: right;
}

#internal ul li.action-button a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  color: rgb(255,255,255);
  text-decoration: none;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,1);
  box-shadow: 0 0 3px rgba(0,0,0,1);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-image: url(../images/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#internal ul li.action-button a:link,
#internal ul li.action-button a:visited {
  background-color: rgb(136,204,85);
}

#internal ul li.action-button a:hover,
#internal ul li.action-button a:active {
  background-color: rgb(122,183,76);
}


/* CONTENT
================================================================================ */

#content p {
	text-align: left;
	width: 500px; /*to maximize readability - 66-75 characters per line*/
}

#content h4 {
	width: 520px;
}

#content {
  background-color: rgb(255,255,255);
  padding: 20px 0;
}

#content ul.features {
  margin: 0 0 15px 0;
}

#content ul.features li {
  background: transparent url(../images/thumb_up-16x16.png) no-repeat left;
  padding: 10px 10px 10px 25px;
  list-style: none;
  border-top: 1px solid rgb(245,245,245);
}

#content form {
	position: relative;
  border: 1px solid #ddd;
  background-color: rgb(253,253,253);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 20px 10px;
}

#content form legend {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Museo;
  color: rgb(0,0,0);
  
}

#content form legend.secure {
  padding: 0 0 0 26px;
  background-image: url(../images/lock-16x16.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#content form fieldset {
  margin: 0;
  padding: 10px 0 0 0;
}

#content form label {
  display: block;
  padding: 10px 0 5px 0;
  color: rgb(0,0,0);
  font-weight: bold;
}

#content form div.input-box {
	margin: 0;
	padding: 0;
}

#content form input.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgb(200,200,200);
  font-size: 1em;
  width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#content form input.text-field:focus {
  outline: none;
  border: 1px solid rgb(100,100,100);
}

#content form input.submit-button {
  font-size: 1em;
  padding: 10px 20px;
	margin-top: 10px;
  font-weight: bold;
  border: none;
	width: 200px;
  color: rgb(255,255,255);
  background-color: rgb(0,122,177);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-image: url(../images/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
	float: right;
}

#content form input.submit-button:hover,
#content form input.submit-button:focus {
  outline: none;
  background-color: rgb(0,145,210);
}

#content form label span.validation {
	display: inline-block;
	width: 70%;
	font-size: 14px;
	color: red;
	text-align: right;
	font-weight: normal;
}

#content .border {
		border: 1px solid red !important;
	}

.fixed {
	position: fixed;
	bottom: 0;
}

.line {
	border-bottom: 1px solid rgb(184, 190, 196);
}

#logindiv form {
	position: relative;
  border: 1px solid #ddd;
  background-color: rgb(253,253,253);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 20px 10px;
}

#logindiv form legend {
	float: left;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Museo;
  color: rgb(0,0,0);
  
}

#logindiv form legend.secure {
  padding: 0 0 0 26px;
  background-image: url(../images/lock-16x16.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#logindiv form fieldset {
  margin: 0;
  padding: 10px 0 0 0;
}

#cancel {
	float: right;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
}

#cancel:hover {
	float: right;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background: rgb(0, 153, 221);
	text-decoration: none;
}

#logindiv form label {
  display: block;
  padding: 10px 0 5px 0;
  color: rgb(0,0,0);
  font-weight: bold;
}

#logindiv form div.input-box {
	margin: 0;
	padding: 0;
}

#logindiv form input.text-field {
  margin: 0;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid rgb(200,200,200);
  font-size: 1em;
  width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#logindiv form input.text-field:focus {
  outline: none;
  border: 1px solid rgb(100,100,100);
}

#logindiv form input.submit-button {
	position: absolute;
  font-size: 1em;
  padding: 10px 20px;
	margin-top: -20px;
  font-weight: bold;
  border: none;
	width: 300px;
  color: rgb(255,255,255);
  background-color: rgb(0,122,177);
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-image: url(../images/shade-button.png);
  background-repeat: repeat-x;
  background-position: top center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
	left: 50%;
	margin-left: -150px;
}

#logindiv form input.submit-button:hover,
#logindiv form input.submit-button:focus {
  outline: none;
  background-color: rgb(0,145,210);
}

#logindiv form label span.validation {
	display: inline-block;
	width: 70%;
	font-size: 14px;
	color: red;
	text-align: right;
	font-weight: normal;
}

.login {
	height: 200px;
	width: 220px;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -149px;
	margin-top:-119px;
}

#logindiv p.faux-label {
	display: block;
	font-size: .75em;
	color: rgb(150,150,150);
}

#logindiv.login form {
	height: 238px;
	width: 298px;
	position: fixed;
	top: 35%;
	left: 50%;
	margin-left: -149px;
	margin-top:-119px;

}

.faq {
	width: ;
}
.faqnav {
	font-size: 26px;
	font-family: "Museo Sans";
	list-style-type: none;
	padding: 0px;
	margin: 20px 0px 0px 30px;
	position: fixed;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px #ddd;
}

.faqnav.legal {
	font-size: 14px;
	font-family: "Museo Sans";
	list-style-type: none;
	padding: 0px;
	margin: 20px 0px 0px 30px;
	position: fixed;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px #ddd;
}

.faqnav li {
	padding: 15px 10px;
	overflow: hidden;
}

.faqnav a {
	width: 100%;
	padding: 15px 235px;
	margin:0px -235px;
}

.faqnav.legal li {
	padding: 5px 10px;
	overflow: hidden;
}

.faqnav.legal a {
	width: 100%;
	padding: 5px 235px;
	margin:0px -235px;
}

.faqnav a:hover {
	text-decoration: none;
	color: #0072a3;
}

div.faqcontent {
	min-height: 600px;
	margin-left: 350px;
	text-align: justify;
	width: 100%;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	    hyphens: auto;
}

.faqcontent li {
	width: 500px;
}

.faqnav .current {
	background: rgb(0,153,221);
	color: white;
}

.faqnav .current a {
	color: white;
}

div.faqcontent h2 {
	font-family: "Museo Sans";
	width: 550px;
}

.section {
	display: none;
}

#what {
	display: block;
}

#introduction {
	display: block;
}

.box {
	border:1px solid black;
	margin:15px;
	padding:5px;
	width: 525px;
}

.title {
	color: black;
	background: #ddd;
	opacity: .5;
}

.title a:hover {
	color: black;
}

/* COPYRIGHT
================================================================================ */


#copyright {
  border-top: 1px solid rgb(184,190,196);
}

#copyright p {
  margin: 0;
  padding: 20px;
  font-size: 12px;
  color: rgb(124,130,136);
}