/* RESET
================================================================================ */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: 0;
}

body {
	line-height: 1.5em;
	background: rgb(255,255,255);
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* COMMON
================================================================================ */


body {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgb(220,224,228) url(/static/images/bg.png) fixed;
	color: rgb(100,100,100);
}

a:link,
a:visited {
	text-decoration: none;
	color: rgb(0,153,221);
}

a:hover,
a:active {
	text-decoration: underline;
	color: rgb(0,137,198);
}

p, ul, ol, dl {
	padding: 0 20px;
	margin-bottom: 20px;
}

ul, ol {
	margin-left: 30px;
}

strong {
	font-weight: bold;
}

h1, h2, h3 {
	color: rgb(0,0,0);
	padding: 0 20px;
	font-family: Museo;
}

h1 strong, h2 strong {
	font-weight: 500;
}

h1 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 100;
	margin: 20px 0 10px 0;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	margin: 20px 0 10px 0;
	font-weight: 100;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0 10px 0;
}

.notes {
	background: #FFF7CC url(/static/images/icons/note-32x32.png) no-repeat 20px 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	color: #7F6A00;
	margin: 0 20px 20px;
	padding: 15px 15px 15px 72px;
}

.notes p {
	color: rgb(127,106,0);
	margin-bottom: 0;
	padding: 2px 0 5px 0;
	font-style: italic;
}

.add.notes textarea {
	display: none;
	width: 585px;
}

.notes.toggle {
	cursor: pointer;
}

/* STRUCTURE
================================================================================ */


.container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

.clear {
	float: left;
	width: 100%;
	clear: both;
}

.column-three-fourth { width: 720px; }
.column-two-third { width: 640px; }
.column-one-half { width: 480px; }
.column-one-third { width: 320px; }
.column-one-fourth { width: 240px; }

.column-one-fourth, .column-one-third, .column-one-half,
.column-two-third,.column-three-fourth {
	float: left;
}


/* FORMS
================================================================================ */


#content form.invisible {
	padding: 0;
	margin: 0;
}

#content form.invisible h2 {
	margin: 20px 20px 10px;
}

#content form {
	padding: 20px 0 5px 20px;
}

#content form h2 {
	padding: 20px 0 5px 0;
	margin: 0;
}

#content form p.add-more {
	margin: 20px 0 0 0;
	padding: 0 0 0 20px;
	background: url(/static/images/icons/add-16x16.png) no-repeat left;
}

#content form fieldset label,
#content form fieldset p.faux-label {
	display: block;
	padding: 20px 0 5px 0;
	margin: 0;
}

#content form fieldset label span,
#content form fieldset p.faux-label span {
	display: block;
	font-size: .75em;
	color: rgb(150,150,150);
}

#content form fieldset label.checkbox {
	border: none;
	margin: 0;
	padding: 5px 0;
}

#content form fieldset input,
#content form fieldset textarea {
	border: 1px solid rgb(150,150,150);
	padding: 3px;
	margin: 0;
	font-size: 100%;
	font: inherit;
	display: block;
}

#content form fieldset input[disabled] {
	color: rgb(100,100,100);
	border: 1px solid rgb(200,200,200);
	background-color: rgb(245,245,245);
}

#content form fieldset input[type=checkbox],
#content form fieldset input[type=radio] {
	display: inline-block;
	margin-right: 5px;
}

#content form fieldset input.upload {
	border: none;
}

#content form fieldset select {
	margin: 0 10px 0 0;
}

#content form fieldset p.action {
	margin: 5px 0 0 0;
	padding: 0;
	font-size: .75em;
}

#content form fieldset p.security-detail {
	margin: 10px 0 0 0;
	padding: 10px 10px 10px 30px;
	font-size: .875em;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background: rgb(245,245,245) url(/static/images/lock.png) no-repeat 1% 50%;
}

#content form fieldset {
	border-top: 1px solid rgb(245,245,245);
	padding: 0 0 20px 0;
}

#content form fieldset.submit-buttons {
	border: none;
	padding: 20px 0 0 0;
}

div.prompt-box h3 {
	font-weight: 100;
}

div.prompt-box form input[type=submit] {
	width: 100%;
}

#content form input[type=submit] {
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	padding: 0 10px;
	display: block;
	font-weight: bold;
	text-align: center;
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 40px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	        box-shadow: 0 0 3px rgba(0,0,0,.5);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-image: url(/static/images/shade-button.png);
	background-repeat: repeat-x;
	background-position: center;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	border-radius: 5px;
}

#content form input[type=submit] {
	background-color: rgb(136,204,85);
}

#content form input[type=submit]:hover,
#content form input[type=submit]:active {
	background-color: rgb(122,183,76);
}

div.prompt-box {
	background: #8C96A0 url(/static/images/shade-footer.png) repeat-x bottom;
	border-top:1px solid white;
	color: #FFF;
}

div.prompt-box h3 {
	color: #FFF;
}

#content div.prompt-box fieldset {
	margin: 20px 20px 20px 20px;
	padding: 0 0 20px 0;
}

#agreement-form input, #agreement-form textarea {
  width: 735px;
}

/* NAVIGATION
================================================================================ */


#navigation {

}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	display: block;
	float: left;
}

#navigation ul li a {
	display: block;
	float: left;
	padding: 20px;
}

#navigation ul#admin li {
	float: right;
}

#navigation ul li.current a {
	color: rgb(84,90,96);
}

#navigation p {
  font-family: Museo;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background: transparent url(/static/images/logo.png) no-repeat left;
  float: left;
}

#navigation p a:link,
#navigation p a:visited {
  color: rgb(0,0,0);
  display: block;
  padding: 18px 20px 22px 70px;
  text-decoration: none;
}

#navigation p a:hover,
#navigation p a:active {
  color: rgb(100,100,100);
}


/* INTRO
================================================================================ */


#intro {
	background: rgb(0,122,177) url(/static/images/shade-intro.png) repeat-x top;
	color: rgb(191,229,246);
	-webkit-border-top-right-radius: 10px;
	 -webkit-border-top-left-radius: 10px;
	    -moz-border-radius-topright: 10px;
	     -moz-border-radius-topleft: 10px;
	        border-top-right-radius: 10px;
	         border-top-left-radius: 10px;
	border-bottom: 1px solid rgb(0,122,177);
	padding: 0 0 10px 0;
}

#intro h1 {
	color: rgb(255,255,255);
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

#intro p {
	line-height: 40px;
	margin-bottom: 10px;
}

#intro p span {
	color: rgb(255,255,255);
}

#intro ul.action-button {
	margin: 10px 20px 10px 20px;
	padding: 0;
}

#intro ul.action-button li {
	list-style: none;
	padding: 10px 0 0 0;
	margin: 0;
}

#intro ul.action-button li a {
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 0 10px;
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 40px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 0 3px rgba(0,0,0,.5);
	        box-shadow: 0 0 3px rgba(0,0,0,.5);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background-image: url(/static/images/shade-button.png);
	background-repeat: repeat-x;
	background-position: center;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	border-radius: 5px;
}

#intro ul.action-button a:link,
#intro ul.action-button a:visited {
	background-color: rgb(136,204,85);
}

#intro ul.action-button a:hover,
#intro ul.action-button a:active {
	background-color: rgb(122,183,76);
}

#intro ul.action-button a.cancel:link,
#intro ul.action-button a.cancel:visited {
	background-color: rgb(190,53,87);
}

#intro ul.action-button a.cancel:hover,
#intro ul.action-button a.cancel:active {
	background-color: rgb(151,42,69);
}


/* INTERNAL
================================================================================ */


#internal {
	background-color: rgb(223,245,255);
}

#internal ul {
	padding: 0;
	margin: 0;
}

#internal ul li {
	list-style: none;
	display: block;
	float: left;
}

#internal ul li a {
	display: block;
	float: left;
	padding: 20px;
}

#internal ul li.current a {
	background-color: rgb(255,255,255);
}


/* CONTENT
================================================================================ */


#content {
	background-color: rgb(255,255,255);
}

h2.steps span {
	background-color: rgb(238,240,242);
	color: rgb(100,100,100);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: .65em;
	display: block;
	float: right;
	padding: 0 10px;
}

#content p.meta {
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 20px;
}

#content #agreement-profile {
	border-bottom: 1px solid rgb(225,225,225);
}

#content #agreement-profile.data-table {
	padding: 10px 20px 0 20px;
}

#content #payment-schedule {
	border-bottom: 1px solid rgb(225,225,225);
}

#content #payment-schedule ul {
	margin: 0 20px 10px 20px;
	padding: 0;
}

#content #payment-schedule ul li {
	border-top: 1px solid rgb(245,245,245);
	padding: 10px 0;
	list-style: none;
}

#content #payment-schedule ul li a,
#content #payment-schedule ul li span {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: .875em;
	display: block;
	float: right;
	padding: 0 10px;
	text-decoration: none;
}

#content #payment-schedule ul li span {
	background-color: rgb(238,240,242);
	color: rgb(100,100,100);
}

#content #payment-schedule ul li a:link,
#content #payment-schedule ul li a:visited {
	background-color: rgb(136,204,85);
	color: rgb(255,255,255);
}

#content #payment-schedule ul li a:hover,
#content #payment-schedule ul li a:active {
	background-color: rgb(122,183,76);
	color: rgb(255,255,255);
}

#content #agreement-profile.data-table table tr td {
	border-top: none;
	padding-bottom: 20px;
}

#content #agreement-history {
	background-color: rgb(249,250,251);
	border-top: 1px solid rgb(225,225,225);
}

#content #agreement-history ul {
	margin: 0 20px 0 20px;
	padding: 0;
}

#content #agreement-history ul li {
	border-bottom: 1px solid rgb(225,225,225);
	padding: 10px 0;
	list-style: none;
}

#content #agreement-history p {
	margin: 0 20px 20px 20px;
	padding: 10px;
	background-color: rgb(238,240,242);
	text-align: center;
	-webkit-border-bottom-right-radius: 3px;
	 -webkit-border-bottom-left-radius: 3px;
	    -moz-border-radius-bottomright: 3px;
	     -moz-border-radius-bottomleft: 3px;
	        border-bottom-right-radius: 3px;
	         border-bottom-left-radius: 3px;
}

#content .data-table {
	padding: 0 20px 10px 20px;
}

#content .data-table table {
	width: 100%;
}

#content .data-table table tr td {
	border-top: 1px solid rgb(245,245,245);
	padding: 10px 20px 10px 0;
	vertical-align: top;
}

#content .data-table table tr td h3 {
	margin: 10px 0 0 0;
	padding: 0;
}

#content .data-table table tr td h3.less {
	margin-top: 0;
}

#content .data-table table tr td p {
	margin: 0;
	padding: 0;
	font-size: .875em;
	color: rgb(150,150,150);
}

#content .data-table table tr td p.remove {
	background: url(/static/images/icons/cross-16x16.png) no-repeat left;
	padding-left: 20px;
}

#content .data-table table tr td.meta {
	width: 80px;
	padding: 10px 0;
}

#content .data-table table tr td.action {
	width: 150px;
	padding: 10px 0;
	text-align: right;
}

#content .data-table table tr td.meta span {
	display: block;
	border: 1px solid rgb(225,225,225);
	background-color: rgb(249,250,251);
	padding: 4px;
	margin: 0 20px 0 0px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

#content .data-table table tr td.meta span img {
	display: block;
}

/* Agreement Phases */
#content #phases h2 { cursor: pointer; }
#content #phases ul { margin: 0; padding: 0; }
#content #phases ul li { display:none; list-style: none; margin: 0; padding: 0; }
#content #phases ul li:first-child,
#content #phases ul li.has-content { display: block; }
#content #phases .add-phase { font-size: 12px; font-weight: bold; margin-top: 20px; }

/* FOOTER
================================================================================ */


#footer {
	background: rgb(140,150,160) url(/static/images/shade-footer.png) repeat-x bottom;
	-webkit-border-bottom-right-radius: 10px;
	 -webkit-border-bottom-left-radius: 10px;
	    -moz-border-radius-bottomright: 10px;
	     -moz-border-radius-bottomleft: 10px;
	        border-bottom-right-radius: 10px;
	         border-bottom-left-radius: 10px;
	border-top: 1px solid rgb(125,125,125);
	height: 100px;
}

#footer h3 {
	color: rgb(220,225,230);
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

#footer a {
	color: rgb(255,255,255);
}

#footer ul {
	margin-left: 0;
}

#footer ul li {
	list-style: none;
}


/* COPYRIGHT
================================================================================ */


#copyright p {
	margin: 0;
	padding: 20px;
	font-size: .75em;
	color: rgb(84,90,96);
	text-align: center;
}