#header {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	margin: 180px 0px 0px 400px;
}

#main-content {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	margin-left: 400px;
}

#login-form td {
	text-align: right;
}

.error {
	color: red;
}