{% extends "../base.html" %}



### Redefine the main block
{% block main %}

<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div id="profile_preview">
			<h2>The Page You Requested Is Not Available</h2>
			<p>To continue to use Wurk Happy, you may return to the <a href="/">home page</a> or use the navigation links above.</p>
			<p>If you believe you&rsquo;ve reached this page in error, please contact our <a href="mailto:contact@wurkhappy.com">support staff</a>.</p>
		</div>
	</div>

	{% module Footer() %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}



{% block header %}
	<div id="intro" class="clear">
		<div class="column-three-fourth">
			<h1>Uh-oh. Something&rsquo;s Wrong.</h1>
		</div>
	</div>
{% end %}

{% block scripts-custom %}
	<script src="{{ static_url("scripts/libs/jquery-autosuggest-1.4.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("scripts/application.js") }}" type="text/javascript"></script>
{% end %}
