
{% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}

<fieldset id="{{ pickerID }}" class="observed">
	<select name="month" id="{{ pickerID }}-month" class="observed">
		{% for num, month in enumerate(months, 1) %}
			<option value="{{ "{:02d}".format(num) }}"{% if datestamp and datestamp.month == num %} selected="true"{% end %}>{{ month }}</option>
		{% end %}
	</select>

	<select name="day" id="{{ pickerID }}-day" class="observed">
		{% for day in range(1, 32) %}
			<option value="{{ "{:02d}".format(day) }}"{% if datestamp and datestamp.day == day %} selected="true"{% end %}>{{ day }}</option>
		{% end %}
	</select>

	<select name="year" id="{{ pickerID }}-year" class="observed">
		{% for year in yearRange %}
			<option value="{{ year }}"{% if datestamp and datestamp.year == year %} selected="true"{% end %}>{{ year }}</option>
		{% end %}
	</select>

	<input type="hidden" id="{{ pickerID }}-iso" name="{{ dateFieldName }}" value="{{ defaultISO }}" />
</fieldset>