<div id="navigation" class="clear">

	<div class="column-one-half">

		<ul class="clear">
			<li{% if 'self' in data and data['self'] == 'vendor' %} class="current"{% end %}><a href="/agreements/with/clients"><strong>Client Agreements</strong></a></li>
			<li{% if 'self' in data and data['self'] == 'client' %} class="current"{% end %}><a href="/agreements/with/vendors"><strong>Vendor Agreements</strong></a></li>
			<li><a href="#"><strong>People</strong></a></li>
		</ul>

	</div>

	<div class="column-one-half">

		<ul id="admin" class="clear">
			<li><a href="/logout">Log Out</a></li>
			<li{% if 'self' in data and data['self'] == 'account' %} class="current"{% end %}><a href="/user/me/account">Account</a></li>
			<li><a href="#">Preferences</a></li>
		</ul>

	</div>

</div>