{% extends "../base.html" %}

{% block header %}
	<div id="navigation" class="clear">
		<div class="container">
			<div class="column-one-half">
				<p><a href="/">Wurk Happy</a></p>
			</div>
			<div class="column-one-half">
				<ul>
					<li><a href="mailto:contact@wurkhappy.com">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
{% end %}

{% block main %}
	<div id="internal" class="clear">
		<div class="container">
			<ul>
				<li class="" id="about-button"><a href="/about">About Us</a></li>
				<li class="current" id="marcus-button"><a href="/about/marcus">Marcus Ellison</a></li>
				<li class="" id="brendan-button"><a href="/about/brendan">Brendan Berg</a></li>
			</ul>
		</div>
	</div>
	<div id="content" class="clear">
		<div class="container">
			
			<h2><strong>Marcus Ellison</strong> Co-Founder &amp; CEO</h2>
			
			<p>Marcus Grew up in a small town on the coast of Maine. He came to New York City to pour his life into building an enterprise that&rsquo;s very meaningful to a large number of people. Wurk Happy is that enterprise.</p>
			
		</div>
	</div>
{% end %}