{% extends "base.html" %}

{% block header %}
	<div id="navigation" class="clear">
		<div class="container">
			<div class="column-one-half">
				<p><a href="/">Wurk Happy</a></p>
			</div>
			<div class="column-one-half">
				<ul>
					<li><a href="mailto:contact@wurkhappy.com">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
{% end %}

{% block main %}
	<div id="internal" class="clear">
		<div class="container">
			<ul>
				<li class="current" id="about-button"><a href="/about">About Us</a></li>
				<li class="" id="marcus-button"><a href="/about/marcus">Marcus Ellison</a></li>
				<li class="" id="brendan-button"><a href="/about/brendan">Brendan Berg</a></li>
			</ul>
		</div>
	</div>
	<div id="content" class="clear">
		<div class="container">
			
			<h1>About Wurk Happy</h1>
			
			<p>We started Wurk Happy to change the way freelancers get paid and work with their clients.</p>
			
			<p>As a family of freelancers, our passion is to make all independent workers&rsquo; lives easier. This is where Wurk Happy was born&mdash;from the idea that we can make the frustrating aspects of freelancing better.</p>
			
			<p>We&rsquo;ve been inspired by happy, veteran freelancers. They&rsquo;ve shown us how it&rsquo;s possible to always get paid on time and manage excellent relationships with clients. We built Wurk Happy to make their best practices available to all freelancers and to apply our knowledge of technology to the headache of managing payment relationships&mdash;our application fuses the disconnected pieces of running a business into a simple, elegant process.</p>
			
			<p>Wurk Happy provides better business relationships through transparency, communication, and control for both the freelancer and the client. For freelancers, our software encourages faster payments and reoccurring business. For clients, it provides comfort and peace of mind.</p>

			<p>We&rsquo;ve lovingly crafted our vision of better working relationships into our software. It&rsquo;s how we plan to help the world Wurk Happy.</p>
			
			<h2>Meet Our Team</h2>
			
			<ul>
				<li><a href="/about/marcus">Marcus Ellison</a>, Co-Founder &amp; CEO</li>
				<li><a href="/about/brendan">Brendan Berg</a> Co-Founder &amp; CTO</li>
			</ul>
		</div>
	</div>
{% end %}