{% extends "base.html" %}

{% block header %}
	<div id="header" class="column-full">
		<div class="container">
			
			<p>Wurk Happy</p>
			
		</div>
	</div>
{% end %}

{% block main %}
	<div id="intro" class="column-full">
		<div class="container">
			
			<h1>We &hearts; NY!</h1>
			<p>Wurk Happy is a New York-based startup that thinks<br />it's about time independent workers get a fair deal.</p>
			
		</div>
	</div>

	<div id="footer" class="column-full">
		<div class="container">
			
			<p>All text and design is copyright &copy; 2011 Wurk Happy, Inc. All rights reserved.</p>
			
		</div>
	</div>
{% end %}