<!DOCTYPE html>
<head>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<title>{% raw title %}</title>
	<!--<title>Wurk Happy - Our work agreements get you paid faster.</title>-->

	<link rel="Shortcut Icon" type="images/ico" href="{{ static_url("favicon.ico") }}" />

	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{{ static_url("css/landing.css") }}" media="all" />

	<script type="text/javascript" src="http://use.typekit.com/emy1uth.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
	
	{% block header %}
	{% end %}
	
	{% block main %}
	{% end %}
	
	{% block footer %}
		<div id="copyright" class="clear">
			<div class="container">
				<p>Copyright &#169; Wurk Happy &mdash; All Rights Reserved</p>
			</div>
		</div>
	{% end %}
	
	<!-- Javascript at the bottom for fast page loading -->

	<script src="{{ static_url("scripts/libs/jquery-1.4.2.js") }}"></script>

	<!-- scripts concatenated and minified via ant build script-->
	<script src="{{ static_url("scripts/landing.js") }}"></script>
	<!-- end concatenated and minified scripts-->

</body>
</html>
