<!DOCTYPE html>
<head>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<title>{% raw title %}</title>
	<!--<title>Wurk Happy - Our work agreements get you paid faster.</title>-->

	<link rel="Shortcut Icon" type="images/ico" href="{{ static_url("favicon.ico") }}" />

	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{{ static_url("css/landing.css") }}" media="all" />

	<script type="text/javascript" src="https://use.typekit.com/wwb5mzu.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-24101674-1']);
		_gaq.push(['_setDomainName', '.wurkhappy.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

</head>
<body>

	{% block header %}
	{% end %}

	{% block main %}
	{% end %}

	<div id="copyright" class="clear">
		<div class="container">
			<p>Copyright &#169; 2013 Wurk Happy. All Rights Reserved &nbsp; &bull; &nbsp; <a href="/legal/terms">Terms of Service</a> &nbsp; &bull; &nbsp; <a href="/legal/privacy">Privacy Policy</a></p>
		</div>
	</div>

	<!-- Javascript at the bottom for fast page loading -->

	<script src="{{ static_url("scripts/libs/jquery-1.4.2.js") }}"></script>

	<!-- scripts concatenated and minified via ant build script-->
	<script src="{{ static_url("scripts/landing.js") }}"></script>
	<!-- end concatenated and minified scripts-->
	<script type="text/javascript">
		$(window).unload(function() {
			_gaq.push(['_trackEvent', 'Unload']);
		});
	</script>

</body>
</html>
