{% extends "base.html" %}

{% block header %}
	<div id="navigation" class="clear">
		<div class="container">
			<div class="column-one-half">
				<p><a href="/">Wurk Happy</a></p>
			</div>

			<div class="column-one-half">
				<ul>
					<li><a href="/about">About Us</a></li>
					<li><a href="mailto:contact@wurkhappy.com">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
{% end %}

{% block main %}
	<div id="intro" class="clear">
		<div class="container">
			<div class="column-one-third">
				<h2>Work Faster</h2>
				<p>Quickly send and manage your estimates, proposals, and payments.</p>
				<img src="{{ static_url('images/promo-1.png') }}" alt="Something Cool">
			</div>
			<div class="column-one-third">
				<h2>Work Smarter</h2>
				<p>Stay involved when it impacts the customer, and automate the rest.</p>
				<img src="{{ static_url('images/promo-2.png') }}" alt="Something Cool">
			</div>
			<div class="column-one-third">
				<h2>Work Professionally</h2>
				<p>Make a great impression with simple, clear and focused interfaces.</p>
				<img src="{{ static_url('images/promo-3.png') }}" alt="Something Cool">
			</div>
			<div class="clear">
				<h1>Wurk Happy, your business made simple.</h1>
			</div>
		</div>
	</div>
	
	<div id="internal" class="clear">
		<div class="container">
			<ul>
				<li class="tab current" id="proposals-button"><a href="#">Proposals &amp; Estimates</a></li>
				<li class="tab" id="relationships-button"><a href="#">Relationship Management</a></li>
				<li class="tab" id="payments-button"><a href="#">Automatic Payments</a></li>
				<!--<li class="action-button"><a href="">Create Your Free Account</a></li>-->
			</ul>
		</div>
	</div>

	<div id="content" class="clear">
		<div class="container tab-content" id="proposals-container"> <!-- Start "For Everyone" tab -->
			<div class="column-one-third">

				<h2>Simple for Sender</h2>
				<p>Getting proposals and estimates sent is a breeze! Just add the relevant details of the services provided, any refund policies, and setup a step-by-step payment schedule.</p>
				<ul class="features">
					<li>Define Services and Refunds</li>
					<li>Setup Payment Schedules</li>
					<li>Automate with Templates</li>
				</ul>

			</div>

			<div class="column-one-third">

				<h2>Clear for Recipient</h2>
				<p>Within a few seconds, a recipient can view an easy to understand proposal and estimate. Changes can be requested and an agreement can be connected to a payment method.</p>
				<ul class="features">
					<li>Make Change Requests</li>
					<li>Agree Through Application</li>
					<li>Manage Multiple Agreements</li>
				</ul>

			</div>
		</div> <!-- End "For Everyone" tab -->
	
		<div class="container tab-content hidden" id="relationships-container"> <!-- Start "Work With Clients" tab -->
			<div class="column-one-third">
				<h2>Maintain Agreements</h2>
				<p>Easily update any agreement and all sides will be alerted to any requests or changes. Agreements can be cancelled at any time and a full history of all actions is built right in.</p>
				<ul class="features">
					<li>Change Requests</li>
					<li>Editable Agreements</li>
					<li>Full Agreement History</li>
				</ul>
			</div>
			<div class="column-one-third">
				<h2>Respectful Payments</h2>
				<p>It's just good business to make payments on time. Setup a clear payment schedule and automate payments when both sides consider a milestone complete.</p>
				<ul class="features">
					<li>Setup Payment Schedules</li>
					<li>Payments on Completion</li>
					<li>Clear Grace Periods</li>
				</ul>
			</div>
		</div> <!-- End "Work With Clients" tab -->

		<div class="container tab-content hidden" id="payments-container"> <!-- Start "Work With Freelancers" tab -->
			<div class="column-one-third">
				<h2>Protecting Value</h2>
				<p>Once the work is considered complete by both sides, the appropriate payment is automatically initiated. Keeping the project on schedule and payments current will benefit everyone.</p>
				<ul class="features">
					<li>Setup Payment Schedules</li>
					<li>Payments on Completion</li>
					<li>Alerts for Payment Problems</li>
				</ul>
			</div>
			<div class="column-one-third">
				<h2>Reducing Friction</h2>
				<p>When a project is delayed because of a payment problem, everyone loses. Keeping everyone on the same page and paid up is a great way to build valuable business relationships.</p>
				<ul class="features">
					<li>Connect to a Credit Card</li>
					<li>Connect to a Bank Account</li>
					<li>Manage Cash Flow</li>
				</ul>
			</div>
		</div> <!-- End "Work With Freelancers" tab -->
		
		<div class="container">
			<div class="column-one-third">
				<form action="/signup" method="get" accept-charset="utf-8">
					{% raw xsrf_form_html() %}
					<fieldset>
						<legend id="form-header">Subscribe to Learn More</legend>
						<label id="email-label" for="email">Your Email:</label>
						<input type="text" name="email" class="text-field" placeholder="name@website.com">
					</fieldset>
					<fieldset>
						<input type="submit" value="Subscribe" class="submit-button">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
{% end %}
