{% extends "base.html" %}

{% block header %}
	<div id="navigation" class="clear">
		<div class="container">
			<div class="column-one-half">
				<p><a href="/">Wurk Happy</a></p>
			</div>

			<div class="column-one-half">
				<ul>
					<!--<li><a href="/about">About Us</a></li>-->
					<li><a href="mailto:contact@wurkhappy.com">Contact Us</a></li>
					<!--<li><a href="">Create Your Free Account</a></li>-->
        	<li id="log_in"><a id="login" href="#">Log In</a></li>
					<li id="log_out"><a id="cancel" href="#">Cancel</a></li>
				</ul>
			</div>
		</div>
	</div>
{% end %}

{% block main %}
	<div id="intro" class="clear fade">
		<div class="container">
	  	<div class="clear">
	    	<h1>Simple Agreement, Billing, and Payment</h1>
				<h2>Built for Freelancers, Loved by Clients</h2>
	  	</div>
	  	<div class="column-one-third">
				<div class="dot">
					<img src="{{ static_url('images/agreement.jpg') }}" alt="Simple Agreement">
				</div>
	    	<h3>Create an Agreement</h3>
	    	<p>Send a clear, professional<br />agreement in minutes.</p>
	  	</div>
	  	<div class="column-one-third">
				<div class="dot">
					<img class="img" src="{{ static_url('images/buttons.jpg') }}" alt="Simple Billing">
				</div>
	    	<h3>Request Payment</h3>
	    	<p>Get paid and pay with<br />the click of a button.</p>
	  	</div>
	  	<div class="column-one-third">
				<div class="dot">
					<img src="{{ static_url('images/paid.jpg') }}" alt="Simple Payment">
				</div>
	    	<h3>Get paid</h3>
				<p>Receive and send funds online,<br> usually within one business day.</p>
	  	</div>
		</div>
	</div>
	
	<div id="internal" class="clear fade">
		<div class="container">
			<ul>
				<li class="tab current" id="about-button"><a href="#">About</a></li>
      	<li class="tab" id="pricing-button"><a href="#">Pricing</a></li>
				<!--
				<li class="tab current" id="proposals-button"><a href="#">Proposals &amp; Estimates</a></li>
								<li class="tab" id="relationships-button"><a href="#">Relationship Management</a></li>
								<li class="tab" id="payments-button"><a href="#">Automatic Payments</a>
				
				<li class="action-button"><a href="">Create Your Free Account</a></li>-->
			</ul>
		</div>
	</div>

	<div id="content" class="clear fade">
		<div class="container tab-content" id="about-container"> <!-- Start "about" tab -->
			
    	<div id="about" class="column-two-third">
      	<h2>What is Wurk Happy?</h2>
      	<p>Wurk Happy is an online platform that facilitates simple agreement, billing, and payment for freelancers and their clients.</p>
				<p>We make the payment process fast and transparent by improving communication, reducing administration, and decreasing payment processing times.</p>
    	</div>

		</div> <!-- End "about" tab -->
	
		<div class="container tab-content hidden" id="pricing-container"> <!-- Start "pricing" tab -->
			<div id="pricing" class="column-two-third">
      	<h2>Straightforward Pricing</h2>
				<p>Wurk Happy only charges a processing fee when you receive payment.</p>
				<p><strong>If you choose to get paid by bank transfer,</strong> we charge 1.5% of the payment received - up to a maximum fee per transaction of $15.</p>
				<p>Funds are transferred from bank account to bank account, and are usually available within 1 business day.</p>
				<p><strong>If you choose to get paid by credit card,</strong> we charge 5% per transaction.</p>
				<p>Funds are available within 5-7 business days (though it's often within 1-2 days) after transfer from your account with the payment processor.</p>
    	</div>
		</div> <!-- End "pricing" tab -->
		
		<div class="container">
			<div class="column-one-third">
				<form action="https://sandbox.wurkhappy.com/account/create" method="POST" id="create_form" accept-charset="utf-8">
					{% raw xsrf_form_html() %}
					<fieldset>
						<legend id="form-header">Create Your Free Account</legend>
						<label id="email-label" for="email">Your Email: <span class="validation" id="email-validation"></span></label>
						<div class="input-box">
							<input type="email" name="email" id="email-field" class="text-field" placeholder="name@website.com" required >
						</div>
						<label for="email">Choose a password:</label>
          	<input type="password" name="password" value="" id="password" class="text-field" required >
					</fieldset>
					<fieldset>
						<input type="submit" value="Register" class="submit-button">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
	<div id="logindiv" class="login">
		<div class="container">
			<div class="column-one-third">
				<form action="/account/create" method="POST" accept-charset="utf-8" id="login_form" class="js-form">
					<fieldset>
						<div id="server_error"></div>
						<label class="clear" id="email-label" for="email">Email: <span class="validation" id="email-validation"></span></label>
						<div class="input-box">
							<input type="email" name="email"  id="target" class="text-field input" placeholder="name@website.com" required >
						</div>
						<label for="email">Password:</label>
	         	<input type="password" name="password" value="" id="password" class="text-field" required id="password-validation" />
						<p class="faux-label"><span><a href="/user/me/password">Forgot your password?</a></span></p>
					</fieldset>
					<fieldset>
						<input type="submit" value="Log In" class="submit-button">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
{% end %}
