{% extends "base.html" %}

{% block header %}
	<div id="header" class="column-full">
		<div class="container">
			
			<p>Wurk Happy</p>
			
		</div>
	</div>
{% end %}

{% block main %}
	<div id="intro" class="column-full">
		<div class="container">
			
			<h1>We heard you&rsquo;re pretty cool.</h1>
			<p>We like creating amazing things. We&rsquo;re building <br />
				a web platform using the best tools we can find.<br />
				We especially love Python, Tornado, JavaScript, and coffee.</p>
			<p>You are a smart, motivated person who likes building<br />
				awesome software. You think small, focused teams<br />
				can do amazing things.</p>
			<p>If you think you&rsquo;re a fit, we&rsquo;d like to hear from you!<br />
				Send your r&eacute;sum&eacute; to <a href='mailto:jobs@wurkhappy.com'>jobs@wurkhappy.com</a>.</p>
			
		</div>
	</div>

	<div id="footer" class="column-full">
		<div class="container">
			
			<p>All text and design is copyright &copy; 2011 Wurk Happy, Inc. All rights reserved.</p>
			
		</div>
	</div>
{% end %}