{% extends "base.html" %}

{% block header %}
	<div id="header" class="column-full">
		<div class="container">
			
			<p>Wurk Happy</p>
			
		</div>
	</div>
{% end %}

{% block main %}
	<div id="intro" class="column-full">
		<div class="container">
			
			<h1>Thank you!</h1>
			<p>We will contact you soon with more information.</p>
			
		</div>
	</div>

	<div id="footer" class="column-full">
		<div class="container">
			
			<p>All text and design is copyright &copy; 2011 Wurk Happy, Inc. All rights reserved.</p>
			
		</div>
	</div>
{% end %}