{% extends "../base.html" %}

{% block main %}
<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div class="clear">
			{% block list-group %}
			{% end %}
		</div>
	</div>
	
	<div id="footer" class="clear">
		{% if data['prev'] %}<h3 style="float:left"><a href="{{ data['prev'] }}">&larr;Previous</a></h3>{% end %}
		{% if data['next'] %}<h3 style="float:right"><a href="{{ data['next'] }}">Next&rarr;</a></h3>{% end %}
	</div>

	<div id="copyright" class="clear">
		<p>Copyright &#169; Wurk Happy &mdash; All Rights Reserved</p>
	</div>
</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
		<div class="column-three-fourth">
			<h1>Transactions</h1>
		</div>
	</div>
{% end %}



{% block navigation %}
	<div id="navigation" class="clear">
		<div class="column-three-fourth">
			<ul class="clear">
				<li><a href="/users"><strong>Users</strong></a></li>
				<li><a href="/agreements"><strong>Agreements</strong></a></li>
				<li class="current"><a href="/transactions"><strong>Transactions</strong></a></li>
			</ul>
		</div>
		<div class="column-one-fourth">
			<ul id="admin" class="clear">
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</div>
	</div>
{% end %}



{% block styles-custom %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/admin.css") }}" media="all" />
{% end %}



{% block list-group %}
	<div class="data-table">
		{% for transaction in data['transactions'] %}
			{% block list-item %}
			{% end %}
		{% end %}
	</div>
{% end %}



{% block list-item %}
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<h3><a href="/transaction/{{ transaction['id'] }}">{{ transaction['costString'] }} 
					{% if transaction['sender'] and transaction['recipient'] %}
						between {{ transaction['sender']['fullName'] }} and
						{{ transaction['recipient']['fullName'] }}
					{% else %}
						(reference {{ transaction['transactionReference'] }})
					{% end %}
					</a>
				</h3>
				<p>{% if transaction['agreementPhase'] %}
						phase {{ transaction['agreementPhase']['phaseNumber'] + 1 }} of
						<a href="/agreement/{{ transaction['agreementPhase']['agreement']['id'] }}">{{ transaction['agreementPhase']['agreement']['name'] }}</a>
					{% end %}
				</p>
			</td>
		</tr>
	</table>
{% end %}