{% extends "../base.html" %}
{% block main %}
	<form action="/project{% if project %}/{{ project.id }}{% end %}" method="post">
		{% raw xsrf_form_html() %}
		<p>
			<h1>Project Name <input type="text" name="name" {% if project and project.name %}value="{{ escape(project.name) }}"{% end %}/></h1>
		</p>
		<p>
			Client ID <input type="text" name="client_id" {% if client %}value="{{ client['id'] }}"{% end %}/><br />
		</p>
		<ul>{% for invoice in invoices %}
			<li><a href="#">{{ invoice.dateCreated }}</a></li>{% end %}
		</ul>
 		<p>
	       	<a href="{% if project %}/project/{{ project.id }}{% else %}/{% end %}">Cancel</a> | <input type="submit" value="Submit" />
		</p>
	</form>
{% end %}