{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'] } %}

{% module Slug(slug) %}


<div class="container">
	<!-- adds background -->
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="internal" class="clear">
		<ul>
			<li class="tab current" id="details-button"><a href="#" class="top">Personal Details</a></li>
			<li class="tab" id="password-button"><a href="#" class="">Change Your Password</a></li>
			<li class="tab" id="bank-button"><a href="#" class="">Bank Account Details</a></li>
			<li class="tab" id="card-button"><a href="#" class="">Credit Card Details</a></li>
		</ul>
	</div>
	<div id="content" class="clear">
		<div id="details-container" class="tab-content">
			<div id="profile_preview">
				<h2>Profile Preview</h2>
				<div class="data-table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="meta">
								<span><img src="{{ data['profileURL'][0] }}" alt="Profile photo" width="50" height="50" /></span>
							</td>
							<td>
								<h3><a href="/user/me/profile">{{ data['fullName'] }}</a></h3>
								<p>{{ data['email'] }}</p>
								<p>{{ data['telephone'] }}</p>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="profile_form">
				<h2>Personal Details</h2>
				<form action="/user/me/account" enctype="multipart/form-data" method="POST" class="js-replace-action" id="profile_update">
					<fieldset>
						<label for="firstName">First Name</label>
						<input type="text" name="firstName" value="{{ data['firstName'] or '' }}" size="100" />
						<label for="lastName">Last Name</label>
						<input type="text" name="lastName" value="{{ data['lastName'] or '' }}" size="100" />
						<label for="profilePhoto">Photo</label>
						<input type="file" class="upload" name="profilePhoto" />
						<label for="email">Email</label>
						<input type="text" name="email" value="{{ data['email'] }}" size="100" />
						<label for="telephone">Phone Number</label>
						<input type="text" name="telephone" value="{{ data['telephone'] }}" size="100" />
					</fieldset>
					<fieldset class="submit-buttons">
						<input type="submit" value="Save Personal Details" />
					</fieldset>
				</form>
			</div>
		</div>

		<div id="password-container" class="tab-content" style="display: none;">
			<h2>Change Your Password</h2>
			<form action="/user/me/password" method="POST" class="js-replace-action" autocomplete="off">
				<fieldset>
					<label for="currentPassword">Current Password</label>
					<input type="password" name="currentPassword" size="100" />
					<label for="newPassword">New Password</label>
					<input type="password" name="newPassword" size="100" />
					<label for="confirmPassword">Confirm New Password</label>
					<input type="password" name="confirmPassword" size="100" />
				</fieldset>
				<fieldset class="submit-buttons">
					<input type="submit" value="Change Password" />
				</fieldset>
			</form>
		</div>

		<div id="bank-container" class="tab-content" style="display: none;">
			{% if data.get('storedBank') %}
				<div id="stored-bank">
					{% set bank = data['storedBank'] %}
					<h2>Stored Bank Account</h2>
					<p>Routing Number</p>
					<h3>&bull;&bull;&bull;&bull;&bull;&bull;{{ bank['abaDisplay'] }}</h3>
					<p>Account Number</p>
					<h3>&bull;&bull;&bull;&bull; &bull;&bull;{{ bank['display'] }}</h3>
					<form action="/user/me/paymentmethod/{{ bank['id'] }}" method="DELETE" class="js-replace-action clear" id="bank_delete">
						<fieldset class="submit-buttons">
							<input type="submit" value="Delete This Card" />
						</fieldsest>
					</form>
				</div>
			{% end %}
			<div id="bank-form">
				<h2 class="clear">Bank Account Details</h2>
				<form action="/user/me/paymentmethod/new" method="POST" class="js-replace-action clear" id="bank_update">
					<fieldset>
						<label for="routingNumber">Routing Number</label>
						<input type="text" name="routingNumber" size="100" />
						<label for="accountNumber">Account Number</label>
						<input type="text" name="accountNumber" size="100" />
					</fieldset>
					<fieldset class="submit-buttons">
						<input type="submit" value="Update Bank Account Details" />
					</fieldset>
				</form>
			</div>
		</div>
		<div id="card-container" class="tab-content" style="display: none;">
			{% if data.get('storedCard') %}
				<div id="stored-card">
					{% set card = data['storedCard'] %}
					<h2>Stored Credit Card</h2>
					<h3>&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{ card['display'] }}</h3>
					<p>Expires {{ card['cardExpires'] }}</p>
					<!--<p>Billing ZIP: {% comment card['billingZIP'] %}</p>-->
					<form action="/user/me/paymentmethod/{{ card['id'] }}" method="DELETE" class="js-replace-action clear" id="card_delete">
						<fieldset class="submit-buttons">
							<input type="submit" value="Delete This Card" />
						</fieldsest>
					</form>
				</div>
			{% end %}
			<div id="card-form">
				<h2 class="clear">Credit Card Details</h2>
				<form action="/user/me/paymentmethod/new" method="POST" class="js-replace-action clear" id="card_update">
					<fieldset>
						<label for="cardNumber">Credit Card Number</label>
						<input type="text" name="cardNumber" size="100" />
						<label for="">Expiration Date</label>
						<select name="expirationMonth">
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<select name="expirationYear">
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<label for="verification">CVV</label><span>(What's that?)</span>
						<input type="text" name="verification" size="20" />
					</fieldset>
					<fieldset class="submit-buttons">
						<input type="submit" value="Update Credit Card Details" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	{% module Footer() %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}


{% block header %}
<div id="intro" class="clear">
	<div class="column-three-fourth">
		<h1>Account</h1>
	</div>
</div>
{% end %}


{% block scripts-custom %}
<!-- NOTE : etosch had problems with inner double quotations here usins Python 2.6, Tornado 2.0, and Chrome 13.0.782.112-->
<script src="{{ static_url('scripts/libs/jquery-autosuggest-1.4.js') }}" type="text/javascript"></script>
<script src="{{ static_url('scripts/application.js') }}" type="text/javascript" ></script>
<script src="{{ static_url('scripts/accounts.js') }}" type="text/javascript" ></script>
{% end %}
