{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'] } %}

{% module Slug(slug) %}


<div class="container">
	<!-- adds background -->
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="internal" class="clear">
		<ul>
			<li class="tab current" id="details-button"><a href="#" class="top">Personal Details</a></li>
			<li class="tab" id="password-button"><a href="#" class="">Change Your Password</a></li>
			<li class="tab" id="dwolla-button"><a href="#" class="">Payment Information</a></li>
			<!-- <li class="tab" id="bank-button"><a href="#" class="">Bank Account Details</a></li> -->
			<!-- <li class="tab" id="card-button"><a href="#" class="">Credit Card Details</a></li> -->
		</ul>
	</div>
	<div id="content" class="clear">
		<div id="details-container" class="tab-content">
			<div id="profile_preview">
				<h2>Profile Preview</h2>
				<div class="data-table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="meta">
								<span><img src="{{ data['profileURL'][0] }}" alt="Profile photo" width="50" height="50" /></span>
							</td>
							<td>
								<h3><a href="/user/me/profile">{{ data['fullName'] }}</a></h3>
								<p>{{ data['email'] }}</p>
								<p>{{ data['telephone'] }}</p>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="profile_form">
				<h2>Personal Details</h2>
				<form action="/user/me/account" enctype="multipart/form-data" method="POST" class="js-replace-action" id="profile_update">
					<fieldset>
						<label for="firstName">First Name</label>
						<input type="text" name="firstName" value="{{ data['firstName'] or '' }}" size="100" />
						<label for="lastName">Last Name</label>
						<input type="text" name="lastName" value="{{ data['lastName'] or '' }}" size="100" />
						<label for="profilePhoto">Photo</label>
						<input type="file" class="upload" name="profilePhoto" />
						<label for="email">Email</label>
						<input type="email" name="email" value="{{ data['email'] }}" size="100" />
						<label for="telephone">Phone Number</label>
						<input type="tel" name="telephone" value="{{ data['telephone'] }}" size="100" />
					</fieldset>
					<fieldset class="submit-buttons">
						<input type="submit" value="Save Personal Details" />
					</fieldset>
				</form>
			</div>
		</div>

		<div id="password-container" class="tab-content" style="display: none;">
			<h2>Change Your Password</h2>
			<form action="/user/me/password" method="POST" class="js-replace-action" autocomplete="off">
				<fieldset>
					<label for="currentPassword">Current Password</label>
					<input type="password" name="currentPassword" size="100" />
					<label for="newPassword">New Password</label>
					<input type="password" name="newPassword" size="100" />
					<label for="confirmPassword">Confirm New Password</label>
					<input type="password" name="confirmPassword" size="100" />
				</fieldset>
				<fieldset class="submit-buttons">
					<input type="submit" value="Change Password" />
				</fieldset>
			</form>
		</div>
		
		<div id="dwolla-container" class="tab-content" style="display: none;">
			{% if 'id' in data['dwolla'] %}
				<h2>Your Dwolla Account</h2>
				<div class="data-table">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<!-- <td class="meta">
								<span><img src="" alt="Verified" width="50" height="50" /></span>
							</td> -->
							<td>
								<h3>{{ data['dwolla']['userName'] }}</h3>
								<p><strong>Dwolla ID:</strong> {{ data['dwolla']['dwollaID'] }}</p>
							</td>
						</tr>
					</table>
				</div>
			{% else %}
				<h2>Link Your Dwolla Account</h2>
				
				<p>Wurk Happy uses Dwolla to process transactions. In order to pay vendors or receive payments from clients,
					we require each user to have a Dwolla account. If you have an account set up already, you can click the link
					below to link it with your Wurk Happy account.</p>
				
				<p>Click the link below to be redirected to Dwolla. You will be prompted to link your account with Wurk Happy.</p>
				
				<!-- Add signup form in case the user doesn't have a Dwolla account -->
				<p><a href="{{ data['dwolla']['authorizeURL'] }}" rel="nofollow">Click here to link your Dwolla account to Wurk Happy.</a></p>
			{% end %}
		</div>
	</div>

	{% module Footer() %}
</div>
{% end %}



### Component blocks included from above

{% block navigation %}
	{% module Navigation(data) %}
{% end %}


{% block header %}
<div id="intro" class="clear">
	<div class="column-three-fourth">
		<h1>Account</h1>
	</div>
</div>
{% end %}


{% block scripts-custom %}
<!-- NOTE : etosch had problems with inner double quotations here usins Python 2.6, Tornado 2.0, and Chrome 13.0.782.112-->
<script src="{{ static_url('scripts/libs/jquery-autosuggest-1.4.js') }}" type="text/javascript"></script>
<script src="{{ static_url('scripts/application.js') }}" type="text/javascript" ></script>
<script src="{{ static_url('scripts/accounts.js') }}" type="text/javascript" ></script>
{% end %}
