{% extends "../base.html" %}
{% block body %}
	<h1>{{ title }} for {% if user.firstName %}{{ user.firstName }} {{ user.lastName }}{% else %}{{ user.email }}{% end %}</h1>
	<form action="/profile" method="post">
		{{ xsrf_form_html() }}
		<p>
			<label for "firstName">First Name</label> <input type="text" name="firstName" {% if user.firstName %}value="{{ escape(user.firstName) }}"{% end %}/><br />
			<label for "lastName">Last Name</label> <input type="text" name="lastName" {% if user.lastName %}value="{{ escape(user.lastName) }}"{% end %}/><br />
			<label for "name">Profile Name</label> <input type="text" name="name" {% if profile and profile.name %}value="{{ escape(profile.name) }}"{% end %}/><br />
		</p>
		<p>
			<label for="bio">Tell us a little bit about yourself</label><br />
			<textarea name="bio" rows="10" cols="50">{% if profile and profile.bio %}{{ escape(profile.bio) }}{% end %}</textarea>
		</p>
		<p>
			{% if user.password %}
			<a href="/reset_password">Reset password</a>
			{% else %}
			<label for "password">Create a password</label> <input type="password" name="password">
			{% end %}
		</p>
 		<p>
	       	{% if profile %}<a href={{ "/profile/"+profile.urlStub }}>Cancel</a> | {% end %}<input type="submit" value="Submit" />
		</p>
	</form>
{% end %}