{% extends "../base.html" %}
{% block body %}
	<h1>{{ title }} for {{ user.email }}</h1>
	<form action="/profile" method="post">
		{{ xsrf_form_html() }}
		<p>
			<label for "firstName">First Name</label> <input type="text" name="firstName"/><br />
			<label for "lastName">Last Name</label> <input type="text" name="lastName"/>
		</p>
		<p>
			<label for="bio">Tell us a little bit about yourself</label><br />
			<textarea name="bio" rows="10" cols="50"></textarea>
		</p>
		<p>
			<label for "password">Create a password</label> <input type="password" name="password">
		</p>
 		<p>
	       	<a href="/profile">Cancel</a> | <input type="submit" value="Submit" />
		</p>
	</form>
{% end %}