{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'], "authorizeURL": data['dwolla']['authorizeURL'] } %}

{% module Slug(slug) %}


<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div id="password-container" class="tab-content">
			{% if data['password'] is True %}
			<h2>Enter your Password</h2>
			<p>First, we need to make sure it's really you.</p>
			
			<form action="#" method="POST" id="login_form" class="js-form">
				<fieldset>
					<label for="password">Password</label>
					<input type="password" name="password" size="75" />
					<input type="hidden" name="email" value="{{ data['email'] }}" />
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="login" class="top js-button">Log In</a></li>
					</ul>
				</div>
			</form>
			{% else %}
			<h2>Set a Password</h2>
			<p>First, we need to know how to make sure it's really you.</p>
			
			<form action="#" method="POST" id="set-pw_form" class="js-form">
				<fieldset>
					<label for="password">Password</label>
					<input type="password" name="password" size="75" />
					<input type="hidden" name="t" value="{{ data['token'] }}" />
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="set-pw" class="top js-button">Set Password</a></li>
					</ul>
				</div>
			</form>
			{% end %}
		</div>
		
		<div id="details-container" class="tab-content" style="display: none;">
			<h2>Add Personal Information</h2>
			<form action="/user/me/account" enctype="multipart/form-data" method="POST" class="js-replace-action" id="profile-edit_form">
				<fieldset>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" size="75" value="{{ data['firstName'] or '' }}" />
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" size="75" value="{{ data['lastName'] or '' }}" />
					<label for="profilePhoto">Photo</label>
					<input type="file" class="upload" name="profilePhoto" />
					<label for="email">Email</label>
					<input type="email" name="email" size="75" value="{{ data['email'] or '' }}" />
					<label for="telephone">Phone Number</label>
					<input type="tel" name="telephone" size="75" value="{{ data['telephone'] or '' }}" />
					<label>Terms of Use</label>
					<input type="checkbox" name="agree" id="agree" /> <label for="agree" style="display: inline">I agree to the <a href="/legal/terms">Terms of Use</a>.</label>
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="profile-edit" class="top js-button">Save Personal Details</a></li>
					</ul>
				</div>
				<!-- <fieldset class="submit-buttons">
					<input type="submit" value="Save Personal Details" />
				</fieldset> -->
			</form>
		</div>
		
		{% if data['dwolla']['dwollaID'] is None %}
		<div id="dwolla-container" class="tab-content" style="display: none;">
			<div class="column-three-fourth">
				<h2>Link Your Dwolla Account</h2>
				
				<p>Wurk Happy uses Dwolla to process transactions. In order to pay vendors or receive payments from clients,
					we require each user to have a Dwolla account. If you have an account set up already, you can click the link
					below to link it with your Wurk Happy account.</p>
			</div>
			<div class="clear"></div>
			<div class="column-three-fourth">
				<p>Already have a Dwolla account? Great! Click &ldquo;Connect My Account&rdquo; to authorize Wurk Happy and get
					started. You will be prompted to log in and allow Wurk Happy to send and receive payments on your behalf.</p>
			</div>
			<div class="column-one-fourth">
				<ul class="action-button">
					<li><a href="#" rel="nofollow" id="dwolla_connect" class="top js-button">Connect My Account</a></li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="column-three-fourth">
				<p>If you don&rsquo;t have a Dwolla account yet, don&rsquo;t worry. Click &ldquo;Create an Account&rdquo; and
					fill out the form to get started!</p>
			</div>
			<div class="column-one-fourth">
				<ul class="action-button">
					<li><a href="#" rel="nofollow" id="dwolla_create" class="top js-button">Create an Account</a></li>
				</ul>
			</div>
		</div>
		{% else %}
		<div id="dwolla-container" class="tab-content" style="display: none;">
			<div class="column-three-fourth">
				<h2>Your Dwolla Account</h2>
				
				<p>We already have a Dwolla account set up for you! Cool!</p>
			</div>
			<div class="column-one-fourth">
				<ul class="action-button">
					<li><a href="#" rel="nofollow" id="dwolla_skip" class="top js-button">Get Started</a></li>
				</ul>
			</div>
		</div>
		{% end %}
		
	</div>
	
	{% module Footer() %}
</div>
{% end %}



{% block navigation %}
<div id="navigation" class="clear">
	<div class="column-one-half">
		<p class="logo"><a href="/">Wurk Happy</a></p>
	</div>
</div>
{% end %}



{% block header %}
<div id="intro" class="clear">
	<div class="column-three-fourth">
		<h1>Let's Get Started!</h1>
	</div>
</div>
{% end %}



{% block scripts-custom %}
<script src="{{ static_url('scripts/libs/jquery-autosuggest-1.4.js') }}" type="text/javascript"></script>
<script src="{{ static_url('scripts/application.js') }}" type="text/javascript" ></script>
<script src="{{ static_url('scripts/quickstart.js') }}" type="text/javascript" ></script>
{% end %}
