{% extends "../base.html" %}



### Redefine the main block
{% block main %}


{% set slug = { "_xsrf": data['_xsrf'], "authorizeURL": data['dwolla']['authorizeURL'] } %}

{% module Slug(slug) %}


<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<div id="password-container" class="tab-content">
			{% if data['password'] is True %}
			<h2>Thank You!</h2>
			<p>Your email address has been verified. Just enter your password to continue setting up your Wurk Happy account.</p>
			
			<form action="#" method="POST" id="login_form" class="js-form">
				<fieldset>
					<label for="password">Password</label>
					<input type="password" name="password" size="75" />
					<input type="hidden" name="email" value="{{ data['email'] }}" />
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="login" class="top js-button">Set up my account</a></li>
					</ul>
				</div>
			</form>
			{% else %}
			<h2>Hello,</h2>
			<p>To get started with Wurk Happy, please choose a password for you Wurk Happy account.</p>
			
			<form action="#" method="POST" id="set-pw_form" class="js-form">
				<fieldset>
					<label for="password">Password</label>
					<input type="password" name="password" size="75" />
					<input type="hidden" name="t" value="{{ data['token'] }}" />
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="set-pw" class="top js-button">Set up my account</a></li>
					</ul>
				</div>
			</form>
			{% end %}
		</div>
		
		<div id="details-container" class="tab-content" style="display: none;">
			<h2>Add Personal Information</h2>
			<form action="/user/me/account" enctype="multipart/form-data" method="POST" class="js-replace-action" id="profile-edit_form">
				<fieldset>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" size="75" value="{{ data['firstName'] or '' }}" />
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" size="75" value="{{ data['lastName'] or '' }}" />
					<label for="profilePhoto">Photo</label>
					<input type="file" class="upload" name="profilePhoto" />
					<label for="email">Email</label>
					<input type="email" name="email" size="75" value="{{ data['email'] or '' }}" />
					<label for="telephone">Phone Number</label>
					<input type="tel" name="telephone" size="75" value="{{ data['telephone'] or '' }}" />
					<label>Terms of Use</label>
					<input type="checkbox" name="agree" id="agree" /> <label for="agree" style="display: inline">I agree to the <a href="/legal/terms">Terms of Use</a>.</label>
				</fieldset>
				<div class="column-one-fourth">
					<ul class="action-button">
						<li><a href="#" rel="nofollow" id="profile-edit" class="top js-button">Save and Continue</a></li>
					</ul>
				</div>
				<!-- <fieldset class="submit-buttons">
					<input type="submit" value="Save Personal Details" />
				</fieldset> -->
			</form>
		</div>
	</div>
	
	{% module Footer() %}
</div>
{% end %}



{% block navigation %}
<div id="navigation" class="clear">
	<div class="column-one-half">
		<p class="logo"><a href="/">Wurk Happy</a></p>
	</div>
</div>
{% end %}



{% block header %}
<div id="intro" class="clear">
	<div class="column-three-fourth">
		<h1>Welcome to Wurk Happy!</h1>
	</div>
</div>
{% end %}



{% block scripts-custom %}
<script src="{{ static_url('scripts/libs/jquery-autosuggest-1.4.js') }}" type="text/javascript"></script>
<script src="{{ static_url('scripts/application.js') }}" type="text/javascript" ></script>
<script src="{{ static_url('scripts/quickstart.js') }}" type="text/javascript" ></script>
{% end %}
