{% extends "../base.html" %}
{% block main %}
	<h1>{{ title }}</h1>
	{% if flash.get("error") != None %}
		{% for e in flash["error"] %}
			<p class="error">
				{{ e }}
			</p>
		{% end %}
	{% end %}
	<div id="reset-password-form">
		<form action="/reset_password" method="post">
			{{ xsrf_form_html() }}
			<p>
				<label for="password">Enter a new password</label>
				<input type="password" name="password" /><br />
				<label for="confirm_password">Enter password again</label>
				<input type="password" name="confirm_password" /><br />
				<input type="hidden" name="code" value="{{flash["code"]}}">
				<input type="submit" value="Go" />
			</p>
		</form>
	</div>
{% end %}