{% extends "../base.html" %}
{% block main %}
	<h1>{{ title }} for {{ escape(user.firstName) + " " + escape(user.lastName) }}</h1>
	{% if profile %}
		{% if profile.blogURL %}
			<p>{{ linkify("Blog: "+profile.blogURL) }}</p>
		{% end %}
		{% if profile.portfolioURL %}
			<p>{{ linkify("Portfolio: "+profile.portfolioURL) }}</p>
		{% end %}
		{% if profile.bio %}
			<p>
				Bio: {{ escape(profile.bio) }}
			</p>
		{% end %}
	{% end %}
	{% if logged_in_user and user.id == logged_in_user.id %}<a href={{"/profile/"+profile.urlStub+"/edit"}}>Edit Profile</a>{% end %}
{% end %}