{% extends "../base.html" %}

{% block main %}
<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		{% if error and error.get("display") %}
			<p class="error">
				{{ error['display'] }}
			</p>
		{% end %}
	</div>

	<div id="content" class="clear">
		<form action="/signup" method="POST" accept-charset="utf-8">
			{% raw xsrf_form_html() %}
			<fieldset>
				<label for="email">Email Address</label>
				<input type="email" name="email" size="60" />
				<label for="password">Password</label>
				<input type="password" name="password" size="60" />
			</fieldset>
			<fieldset class="submit-buttons">
				<input type="submit" value="Get Started" /><!-- populate from agreement state info -->
			</fieldset>
		</form>
	</div>

	{% module Footer() %}
</div>
{% end %}




### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">
		<div class="column-one-half">
			<p class="logo"><a href="/">Wurk Happy</a></p>
		</div>
		<div class="column-one-half">
			<ul id="admin" class="clear">
				<li><a href="/login"><strong>Already Have an Account?</strong> Sign In Here.</a></li>
			</ul>
		</div>
	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
		<div class="column-three-fourth">
			<h1>{{ title }}</h1>
		</div>
	</div>
{% end %}