{% extends "../base.html" %}

{% block main %}
<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<!--<h1>Welcome to Wurk Happy!</h1>-->
		<p>Hello,</p>
		<p>We just sent a verification email to <strong>mje239@nyu.edu</strong>. Simply click the link in the email to finish setting up your Wurk Happy account.</p>
		<p>If you have any questions you can get in touch with us by emailing <a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a>.</p>
	</div>

	{% module Footer() %}
</div>
{% end %}




### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">
		<div class="column-one-half">
			<p class="logo"><a href="/">Wurk Happy</a></p>
		</div>
		<div class="column-one-half">
			<ul id="admin" class="clear">
				<li><a href="/login"><strong>Already Have an Account?</strong> Sign In Here.</a></li>
			</ul>
		</div>
	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
		<div class="column-three-fourth">
			<h1>Welcome to Wurk Happy!</h1>
		</div>
	</div>
{% end %}