{% extends "../base.html" %}

{% block main %}
<div class="container">
	{% block navigation %}
	{% end %}

	{% block header %}
	{% end %}

	<div id="content" class="clear">
		<h1>Check Your Email!</h1>
		<p>We've sent instructions to continue the registration process to the email address you provided. If it doesn&rsquo;t arrive
			in your inbox shortly, please make sure it wasn&rsquo;t intercepted by your spam filter before contacting support.</p>
		<p>If you have any questions you can get in touch with us by emailing <a href="mailto:contact@wurkhappy.com">contact@wurkhappy.com</a>.</p>
	</div>

	{% module Footer() %}
</div>
{% end %}




### Component blocks included from above

{% block navigation %}
	<div id="navigation" class="clear">
		<div class="column-one-half">
			<p class="logo"><a href="/">Wurk Happy</a></p>
		</div>
		<div class="column-one-half">
			<ul id="admin" class="clear">
				<li><a href="/login"><strong>Already Have an Account?</strong> Sign In Here.</a></li>
			</ul>
		</div>
	</div>
{% end %}



{% block header %}
	<div id="intro" class="clear">
		<div class="column-three-fourth">
			<h1>Thanks for Your Interest in Wurk Happy</h1>
		</div>
	</div>
{% end %}